.flows.json.backup
[{"id":"7ca92831.2db6c","type":"tab","label":"Gravity to DB","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats","port":"4222"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"source-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"target-gravity-nats","port":"4222"},{"id":"a1b2b06d.089da","type":"nats-streaming-server","server":"source-stan","port":"4222","cluster":"external-stan"},{"id":"f04213fa.c22b48","type":"MSSQL-CN","tdsVersion":"7_4","name":"Target MSSQL","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"Brobridge","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","enableArithAbort":true},{"id":"2ca87b75.cb01dc","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #1","server":"source-mssql1-1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"d5cda53a.b9005","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #2","server":"source-mssql2.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel Database","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"brobridge","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1c910e21.fc66da","type":"MSSQL-CN","tdsVersion":"7_4","name":"Target MSSQL1","server":"target-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"brobridge2","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql1-1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"654c3a5a.2e7b74","type":"MSSQL-CN","tdsVersion":"7_4","name":"target1-mssql","server":"target1-mssql","port":"1433","encyption":false,"trustServerCertificate":true,"database":"TestDB","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"cc192ea2.4308e8","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"76ead29f.c91384","type":"MSSQL-CN","tdsVersion":"7_4","name":"target1-mssql","server":"target1-mssql","port":"1433","encyption":false,"trustServerCertificate":true,"database":"TestDB","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"12989e71.a06fb2","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"efa06e25.5e6358","type":"switch","z":"7ca92831.2db6c","name":"Check Event","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"BatchDeliveryPoolCreate","vt":"str"},{"t":"eq","v":"BatchDeliveryPoolDelete","vt":"str"},{"t":"eq","v":"BatchDeliveryPoolUpdate","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1430,"y":1440,"wires":[["47bebc0c.648d84"],[],[]]},{"id":"5c426e76.d5963","type":"function","z":"7ca92831.2db6c","name":"Create SQL Payload","func":"function generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nmsg.data_is_expired=0\n\nBookingTime=new Date(msg.payload.message.BookingTime)\nExpireTimeSec = msg.payload.message.ExpireTime \n\n\nt1 = BookingTime\nyear = t1.getFullYear().zeroPad(1000).toString()\nmonth = (t1.getMonth() + 1).zeroPad(10).toString()\nday = t1.getDate().zeroPad(10).toString()\nhour = t1.getHours().zeroPad(10).toString()\nminute = t1.getMinutes().zeroPad(10).toString()\nsecond = t1.getSeconds().zeroPad(10).toString()\nNewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n\n\nif (ExpireTimeSec == null || ExpireTimeSec <= 0)  {\n    NewExpireTime = null\n   } \n\nelse {\n    t1 = new Date(BookingTime.getTime() +  ExpireTimeSec * 1000)\n\n    if (new Date() >= t1) {\n        msg.data_is_expired=1\n    }\n\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    NewExpireTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n}\n\n\nif (msg.payload.message.MsgData.length <= 70) {\n    calc_section = 1 } \nelse  {\n    calc_section = Math.floor(msg.payload.message.MsgData.length/70+1)\n}\n\nsend_table_uuid = generate_uuid()\nsend_record_table_uuid = generate_uuid()\n\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.message.Priority || 9,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.message.MsgType || \"\",\n    \"req_department\": msg.payload.message.DepID || \"\",\n    \"req_bu\": msg.payload.message.Bu || \"\",\n    \"req_company\": msg.payload.message.Company || \"\",\n    \"req_channel\": msg.payload.message.Channel || \"\",\n    \"req_object_id\": msg.payload.message.ObjectID || \"\",\n    \"memo\": msg.payload.message.Memo || \"\",\n    \"req_batch_id\": msg.payload.message.BatchID || \"\",\n    \"req_group_id\": msg.payload.message.GroupID || \"\",\n    \"calc_section\": calc_section,\n    \"req_req_department\": msg.payload.message.DepID || \"\"\n    \n}\n\nsend_record_table_payload = {\n    \"uid\": send_record_table_uuid,\n    \"status\": 0,\n    \"send_uid\": send_table_uuid,\n    \"serial_number\": msg.payload.message.SerialNum || 0,\n    \"customer_phone\": msg.payload.message.MPhoneNum,\n    \"content\": msg.payload.message.MsgData || \"\",\n    \"send_time\": BookingTime,\n    \"expire_time\": NewExpireTime,\n    \"customer_id\": msg.payload.message.SenderID ,\n    \"customer_reference\": msg.payload.message.Reference || \"\",\n\n}\n\n\nchannel_payload = {\n    \"send_record_uid\": send_record_table_uuid,\n    \"priority\": msg.payload.message.Priority || 9,\n    \"phone\": msg.payload.message.MPhoneNum,\n    \"content\": msg.payload.message.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.message.MsgType || \"\",\n    \"req_object_id\": msg.payload.message.ObjectID || \"\",\n    \"req_group_id\": msg.payload.message.GroupID || \"\",\n    \"req_channel\": msg.payload.message.Channel || \"\",\n}\n\n\nconst source = msg.payload.message.UID;\n\nlet raw = new Buffer.alloc(16, source, 'base64');\n\nlet p1 = raw.subarray(0, 4);\nlet p2 = raw.subarray(4, 6);\nlet p3 = raw.subarray(6, 8);\nlet p4 = raw.subarray(8, 10);\nlet p5 = raw.subarray(10);\n\nlet uuidArr = [\n p1.swap32().toString('hex'),\n p2.swap16().toString('hex'),\n p3.swap16().toString('hex'),\n p4.toString('hex'),\n p5.toString('hex')\n];\n\n\nmsg.payload.send_table_payload = send_table_payload\nmsg.payload.send_record_table_payload = send_record_table_payload\nmsg.payload.channel_payload = channel_payload\nmsg.deliveryUID =  uuidArr.join('-');\nmsg.deliverySendUID = send_table_uuid\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":1700,"wires":[["38b42f58.d069d8","6adb1f48.81aba"]]},{"id":"38b42f58.d069d8","type":"switch","z":"7ca92831.2db6c","name":"Check SMS Expired","property":"data_is_expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2240,"y":1400,"wires":[["764e1723.c5a3b"],["1fca08f.1b61777"]]},{"id":"f998c18a.6a23f","type":"function","z":"7ca92831.2db6c","name":"Console DB Expired Error Log Finally","func":"msg.result = \"Could not write result data log finally\"\n\nif (msg.error != null) {\n    msg.result += \": \" + msg.error\n\n}\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2830,"y":740,"wires":[["e06dc111.92f9"]]},{"id":"31ca0ecc.a5fd5a","type":"debug","z":"7ca92831.2db6c","name":"Log for db write error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3270,"y":1360,"wires":[]},{"id":"81b4e2e1.b27da8","type":"switch","z":"7ca92831.2db6c","name":"","property":"error","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3250,"y":1060,"wires":[["ba6edb1f.0a6be8"],["35a9f0e3.2c3258"]]},{"id":"ba6edb1f.0a6be8","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2940,"y":1420,"wires":[["31ca0ecc.a5fd5a","f807732d.14b38"]]},{"id":"35a9f0e3.2c3258","type":"function","z":"7ca92831.2db6c","name":"write success","func":"msg.result = \"Write Report DB For Expire success\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3580,"y":1080,"wires":[["e06dc111.92f9","20821b67.44d4f4"]]},{"id":"e06dc111.92f9","type":"debug","z":"7ca92831.2db6c","name":"Display db write result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3920,"y":740,"wires":[]},{"id":"738d7cd0.e81654","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"\nINSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID,Status ) VALUES(@DeliveryPoolUID, 2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2980,"y":1060,"wires":[["81b4e2e1.b27da8"]]},{"id":"f807732d.14b38","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":2610,"y":1060,"wires":[["f998c18a.6a23f"],["738d7cd0.e81654"]]},{"id":"1fca08f.1b61777","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"BEGIN TRANSACTION;\n\nINSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id) VALUES('','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id)\n\nINSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_group_id ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_group_id)\n\nINSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time,expire_time, msg_type, req_object_id, req_group_id, req_channel, req_department) VALUES(0, '', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_group_id, @req_channel, @req_department)\n\n\nCOMMIT;\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"Int","valueType":"msg","value":"payload.send_table_payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"phone","type":"VarChar(?)","valueType":"msg","value":"payload.channel_payload.phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_status","type":"int","valueType":"msg","value":"payload.send_record_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2540,"y":1620,"wires":[["72b307b0.a2321","e2dbca5f.87297"]]},{"id":"72b307b0.a2321","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2950,"y":1580,"wires":[]},{"id":"47bebc0c.648d84","type":"function","z":"7ca92831.2db6c","name":"Random DB Channel ID","func":"\nif (global.current_channel_db_id == null) {\n  global.set(\"current_channel_db_id\", 0);\n  global.set(\"current_channel_db_name\", \"channel_0\");\n}\n\nelse if (global.current_channel_db_id == 0) {\n  global.set(\"current_channel_db_id\", 1);\n  global.set(\"current_channel_db_name\", \"channel_1\");\n    \n}\n\nelse {\n  global.set(\"current_channel_db_id\", 0);\n  global.set(\"current_channel_db_name\", \"channel_0\");\n\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":1420,"wires":[["5c426e76.d5963"]]},{"id":"bb2cae94.44f008","type":"function","z":"7ca92831.2db6c","name":"Console DB Expired Error Log Finally","func":"msg.result = \"Could not write result data log finally\"\n\nif (msg.error != null) {\n    msg.result += \": \" + msg.error\n\n}\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3710,"y":1820,"wires":[["cf9ea95f.c7dfd8"]]},{"id":"26adf033.a8566","type":"debug","z":"7ca92831.2db6c","name":"Log for db write error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":3770,"y":2540,"wires":[]},{"id":"1681097f.174367","type":"switch","z":"7ca92831.2db6c","name":"","property":"error","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3670,"y":2160,"wires":[["aac8dc36.1cf22"],["208fe8bf.f4ee68"]]},{"id":"aac8dc36.1cf22","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3320,"y":2500,"wires":[["26adf033.a8566","4ccb53c.abd6eac"]]},{"id":"208fe8bf.f4ee68","type":"function","z":"7ca92831.2db6c","name":"write success","func":"msg.result = \"Write Result Log success\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4040,"y":2460,"wires":[["cf9ea95f.c7dfd8","20821b67.44d4f4"]]},{"id":"cf9ea95f.c7dfd8","type":"debug","z":"7ca92831.2db6c","name":"Display db write result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":4020,"y":2000,"wires":[]},{"id":"4ccb53c.abd6eac","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":3270,"y":1980,"wires":[["bb2cae94.44f008"],["30072be8.b33cac"]]},{"id":"30072be8.b33cac","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, DeliverySendUID, Status ) VALUES(@DeliveryPoolUID, @DeliverySendUID, 0)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3480,"y":2160,"wires":[["1681097f.174367"]]},{"id":"20821b67.44d4f4","type":"function","z":"7ca92831.2db6c","name":"All Done","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4500,"y":1260,"wires":[[]]},{"id":"f58011c2.2f7df8","type":"q-gate","z":"7ca92831.2db6c","d":true,"name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":2670,"y":4120,"wires":[[]]},{"id":"8701d654.93a308","type":"debug","z":"7ca92831.2db6c","name":"Debug NATS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":1500,"wires":[]},{"id":"c6ef2c25.c5d858","type":"Gravity Subscriber","z":"7ca92831.2db6c","name":"Gravity2 Source Event","server":"8d2d215.047b26","subscriberID":"","enabledAuth":false,"initialLoad":false,"collections":["BatchDeliveryPool"],"x":520,"y":1600,"wires":[["1152eb48.ee15fd","a220baf1.3457b8","8701d654.93a308"]]},{"id":"c2b18578.5a3038","type":"function","z":"7ca92831.2db6c","name":"get next","func":"node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2320,"wires":[["df5ab7cb.e05408"]]},{"id":"df5ab7cb.e05408","type":"link out","z":"7ca92831.2db6c","name":"","links":["97cee614.48559","60130cbb.4ca634"],"x":995,"y":2320,"wires":[]},{"id":"97cee614.48559","type":"link in","z":"7ca92831.2db6c","name":"","links":["df5ab7cb.e05408"],"x":1075,"y":2320,"wires":[["1152eb48.ee15fd"]]},{"id":"a220baf1.3457b8","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":1720,"wires":[["ca1d44d8.4004b"]]},{"id":"ca1d44d8.4004b","type":"function","z":"7ca92831.2db6c","name":"start processing","func":"var newMsg;\n\nnewMsg = { \n        topic: \"control\",\n        payload: \"peek\",\n}  \nif (global.get(\"ALLOW\") != 1) \n{\n    global.set(\"ALLOW\",  1);\n    node.status({fill: \"green\",text:\"RUN ONCE\"});\n    return newMsg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \nglobal.set(\"ALLOW\",  0) ","finalize":"","libs":[],"x":840,"y":1860,"wires":[["1152eb48.ee15fd"]]},{"id":"de54ff3b.cbff7","type":"status","z":"7ca92831.2db6c","name":"q-gate status","scope":["1152eb48.ee15fd"],"x":570,"y":2500,"wires":[["61087709.d3d738"]]},{"id":"61087709.d3d738","type":"function","z":"7ca92831.2db6c","name":"Reset","func":"if (global.get(\"ALLOW\") ==  1  && msg.status.text.replace('queuing: ', '') == '0' ){\n    global.set(\"ALLOW\",  0) \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":2500,"wires":[[]]},{"id":"ee5817d2.b7556","type":"complete","z":"7ca92831.2db6c","name":"","scope":["764e1723.c5a3b","34ecf28e.2bff9e","20821b67.44d4f4"],"uncaught":false,"x":570,"y":2260,"wires":[["c2b18578.5a3038","ccac0ae0.18ce2"]]},{"id":"1152eb48.ee15fd","type":"q-gate","z":"7ca92831.2db6c","name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":1110,"y":1600,"wires":[["efa06e25.5e6358"]]},{"id":"ccac0ae0.18ce2","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"","x":860,"y":2120,"wires":[]},{"id":"68621f9c.c14198","type":"nats-streaming-subscribe","z":"7ca92831.2db6c","name":"Source","server":"12989e71.a06fb2","channel":"rowData.source.BatchDeliveryPool","clientID":"atomic-01","start":"all","start_option":"","durable":true,"durable_name":"atomic-01","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"5","rate_limit":true,"max_in_flight":"1","x":650,"y":1260,"wires":[["6b4f0611.9e8e6"]]},{"id":"6b4f0611.9e8e6","type":"json","z":"7ca92831.2db6c","name":"","property":"payload","action":"","pretty":false,"x":970,"y":1280,"wires":[["efa06e25.5e6358"]]},{"id":"6f620c57.5d5b7c","type":"inject","z":"7ca92831.2db6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":2140,"wires":[["ccac0ae0.18ce2"]]},{"id":"2b6202fe.27f2b6","type":"inject","z":"7ca92831.2db6c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":690,"y":2620,"wires":[["61087709.d3d738"]]},{"id":"764e1723.c5a3b","type":"function","z":"7ca92831.2db6c","name":"Already Expire SMS","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":1140,"wires":[["f807732d.14b38"]]},{"id":"e2dbca5f.87297","type":"switch","z":"7ca92831.2db6c","name":"","property":"error","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2690,"y":1800,"wires":[["77e74252.ae9f94"],["34ecf28e.2bff9e"]]},{"id":"77e74252.ae9f94","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2320,"y":2120,"wires":[["f39943be.6f38f","38b42f58.d069d8"]]},{"id":"f39943be.6f38f","type":"debug","z":"7ca92831.2db6c","name":"Log for db write error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2590,"y":2200,"wires":[]},{"id":"34ecf28e.2bff9e","type":"function","z":"7ca92831.2db6c","name":"Already Update Kernel","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3020,"y":1820,"wires":[["4ccb53c.abd6eac"]]},{"id":"6adb1f48.81aba","type":"debug","z":"7ca92831.2db6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2030,"y":1880,"wires":[]}]