.flows.json.backup
[{"id":"7ca92831.2db6c","type":"tab","label":"Gravity DB to Kernel","disabled":false,"info":""},{"id":"8fc62d18.276d3","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel Database","server":"{{{KERNEL_DATABASE_HOST}}}","port":"{{{KERNEL_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{KERNEL_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"{{{REPORT_DATABASE_HOST}}}","port":"{{{REPORT_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{REPORT_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"cc192ea2.4308e8","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"7af1b8fb.a7a99","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Bank Kernel DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mrboker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1120185.4a64de8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"gravity","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"9610aff8.a70458","type":"redis-config","name":"redis-cluster:6379","options":"redis://redis-cluster:6379","cluster":false,"optionsType":"str"},{"id":"198fa1d7.e38746","type":"MSSQL-CN","tdsVersion":"7_4","name":"Batch DB Source1","server":"{{{BATCH1_DATABASE_HOST}}}","port":"{{{BATCH1_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{BATCH1_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"8e5f5d80.1a222","type":"MSSQL-CN","tdsVersion":"7_4","name":"Batch Source2","server":"{{{BATCH2_DATABASE_HOST}}}","port":"{{{BATCH2_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{BATCH2_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"efa06e25.5e6358","type":"switch","z":"7ca92831.2db6c","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1620,"wires":[["32bd35f.d90434a"],["6479376a.be5c08"]]},{"id":"5c426e76.d5963","type":"function","z":"7ca92831.2db6c","name":"Create Payload","func":"\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\n\nmsg.payload = msg.payload.payload\n\nExpireTimeSec = msg.payload.ExpireTime \n\nif (ExpireTimeSec == null || ExpireTimeSec <= 0)  {\n    ExpireTimeSec = 86400\n}\n\nBookingTime = new Date(msg.payload.BookingTime)\n\nNewExpireTime = new Date(BookingTime.getTime() + ExpireTimeSec * 1000)\n\ncurrent_time = new Date(new Date().getTime())\n\n\nif (current_time >= NewExpireTime) {\n    msg.data_is_expired=1} \nelse \n{\n    msg.data_is_expired=0\n}\n\nNewExpireTime = convert_datetime(NewExpireTime)\nNewSendTime = convert_datetime(BookingTime)\n\n\nif (msg.payload.MsgData == \"\" || msg.payload.MsgData.length <= 70) {\n    calc_section = 1 } \nelse  {\n    calc_section = Math.floor(msg.payload.MsgData.length/70+1)\n}\n\nsend_record_table_uuid = convert_uuid(msg.payload.UID)\nsen_table_request_uid = convert_uuid(msg.payload.RequestUID)\n\nif (msg.payload.BatchID != null && msg.payload.BatchID != \"\") {\n    if (global.get(\"current_send_table_batchid\") == msg.payload.BatchID) {\n       send_table_uuid = global.get(\"current_send_table_uid\")\n    } \n    \n    else {\n       send_table_uuid = msg.generated_uuid\n        \n    }\n}\n\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.Priority,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"memo\": msg.payload.Memo || \"\",\n    \"req_batch_id\": msg.payload.BatchID || \"\",\n    \"req_uid\": sen_table_request_uid,\n    \"calc_section\": calc_section,\n    \"req_req_department\": msg.payload.DepID || \"\"\n    \n}\n\nsend_record_table_payload = {\n    \"uid\": send_record_table_uuid,\n    \"status\": 0,\n    \"send_uid\": send_table_uuid,\n    \"serial_number\": msg.payload.SerialNum || 0,\n    \"customer_phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"customer_id\": msg.payload.SenderID ,\n    \"customer_reference\": msg.payload.Reference || \"\",\n\n}\n\n\nchannel_payload = {\n    \"send_record_uid\": send_record_table_uuid,\n    \"send_uid\": send_table_uuid,\n    \"priority\": msg.payload.Priority,\n    \"phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"req_uid\": msg.payload.RequestUID || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n}\n\nmsg.payload.send_table_payload = send_table_payload\nmsg.payload.send_record_table_payload = send_record_table_payload\nmsg.payload.channel_payload = channel_payload\n\nmsg.deliveryUID = convert_uuid(msg.payload.UID)\nmsg.deliverySendUID = send_table_uuid\nmsg.deliverySendRecordUID = send_record_table_uuid\n\ndelivery_pool_payload = {\n    \"UID\": send_record_table_uuid,\n    \"SerialNum\": msg.payload.SerialNum || 0,\n    \"MPhoneNum\": msg.payload.MPhoneNum,\n    \"MsgData\": msg.payload.MsgData ,\n    \"Priority\": msg.payload.Priority,\n    \"BookingTime\": msg.payload.BookingTime,\n    \"ExpireTime\": msg.payload.ExpireTime ,\n    \"DepID\": msg.payload.DepID,\n    \"MsgType\":  msg.payload.MsgType,\n    \"Memo\": msg.payload.Memo ,\n    \"SenderID\": msg.payload.SenderID,\n    \"Bu\": msg.payload.Bu,\n    \"Company\": msg.payload.Company ,\n    \"Channel\": msg.payload.Channel,\n    \"Reference\": msg.payload.Reference,\n    \"RequestUID\": sen_table_request_uid,\n    \"ObjectID\": msg.payload.ObjectID ,\n    \"BatchID\": msg.payload.BatchID\n}\n\nmsg.delivery_pool_payload = delivery_pool_payload\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1580,"wires":[["38b42f58.d069d8","6adb1f48.81aba","42838cb2.96b2cc","9e780300.8d6ea8"]]},{"id":"38b42f58.d069d8","type":"switch","z":"7ca92831.2db6c","name":"Check SMS Expired","property":"data_is_expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":1580,"wires":[["64be2c17.88276c"],["8eb4618c.fb2998"]]},{"id":"1fca08f.1b61777","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"\n-- IF @req_batch_id is null or @req_batch_id = ''\n--     BEGIN\n--       BEGIN TRANSACTION;\n--       INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id ,create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id, SYSDATETIME());\n--       INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--       INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department,create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n--       COMMIT;\n--       SELECT TOP 1 UID FROM [dbo].[send] WHERE uid=@send_uid\n--     END\n-- ELSE\n--     BEGIN\n\n--     DECLARE @new_send_uid VARCHAR(36)\n--     SELECT TOP 1 @new_send_uid=uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n    \n--     IF @new_send_uid is null or @new_send_uid = ''\n--         BEGIN\n--             BEGIN TRANSACTION;\n--             INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id, create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id,SYSDATETIME());    \n--             INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,create_time ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--             INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n--             COMMIT;\n--             SELECT TOP 1 UID FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n--         END\n--     ELSE\n--         BEGIN\n--             BEGIN TRANSACTION;\n--             INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @new_send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--             INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @new_send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n--             COMMIT;\n--             SELECT TOP 1 UID FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n--         END\n--     END\n\n\n\n\nIF @req_batch_id is null or @req_batch_id = ''\n    BEGIN\n       BEGIN TRANSACTION;\n       INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id ,create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id, SYSDATETIME());\n       INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n       INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department,create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n       COMMIT;\n       SELECT TOP 1 UID FROM [dbo].[send] WHERE uid=@send_uid\n    END\nELSE\n    BEGIN\n            BEGIN TRANSACTION;\n            INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n            INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n            COMMIT;\n    END","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"Int","valueType":"msg","value":"payload.send_table_payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"phone","type":"VarChar(?)","valueType":"msg","value":"payload.channel_payload.phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_status","type":"int","valueType":"msg","value":"payload.send_record_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1480,"y":1700,"wires":[["72b307b0.a2321","1b31357e.612afb","77870e54.3cc2a"]]},{"id":"72b307b0.a2321","type":"debug","z":"7ca92831.2db6c","name":"Debug MSSQL Kernel Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":1620,"wires":[]},{"id":"f58011c2.2f7df8","type":"q-gate","z":"7ca92831.2db6c","d":true,"name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":2670,"y":4120,"wires":[[]]},{"id":"68621f9c.c14198","type":"nats-streaming-subscribe","z":"7ca92831.2db6c","name":"Source DB NATS2","server":"cc192ea2.4308e8","channel":"rowData.source.DeliveryPool","clientID":"source2-atomic-01","start":"all","start_option":"","durable":true,"durable_name":"source2-atomic-01","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"10","rate_limit":true,"max_in_flight":"1","x":130,"y":1620,"wires":[["1cb3bfce.eabec","6b4f0611.9e8e6"]]},{"id":"6b4f0611.9e8e6","type":"json","z":"7ca92831.2db6c","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1620,"wires":[["efa06e25.5e6358"]]},{"id":"6adb1f48.81aba","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1420,"wires":[]},{"id":"a4686f76.2b462","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"\nINSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, Status, Message, SourceType) VALUES(@DeliveryPoolUID, 5301, 'SMS Message already expired before sync to kernel database','Batch')\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2000,"y":1520,"wires":[["e82fa5a.9c179d8"]]},{"id":"4e109d76.26f76c","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":1790,"y":1520,"wires":[[],["a4686f76.2b462"]]},{"id":"e82fa5a.9c179d8","type":"function","z":"7ca92831.2db6c","name":"Check Result","func":"msg.have_error = 0\n\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success\"\n\n    msg.payload = {\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n\n    \n    \n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] SMS Information to Report DB Failure\"\n    msg.have_error = 1\n    \n    msg.payload = {\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2220,"y":1520,"wires":[["a83f5380.dd3dd8","c710b77.067d548","1ebd2f3d.d70fd9"]]},{"id":"13ad1895.c4b5a7","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2040,"y":1380,"wires":[["4e109d76.26f76c"]]},{"id":"a83f5380.dd3dd8","type":"switch","z":"7ca92831.2db6c","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2430,"y":1480,"wires":[["13ad1895.c4b5a7"],[]]},{"id":"f5df7456.5eb63","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"SMS ACK","x":1460,"y":1380,"wires":[]},{"id":"64be2c17.88276c","type":"function","z":"7ca92831.2db6c","name":"Log Expired Information","func":"msg.result = \"[GRAVITY][ATOMIC] SMS already Expired will not be sent\"\nmsg.payload = {\n    \"level\": \"ERROR\",\n    \"code\": 5304,\n    \"message\": msg.result,\n    \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n    \"level\": \"ERROR\",\n    \"time\": (new Date()).toJSON(),\n    \"payload\": {\n        \"DeliveryPoolUID\": msg.deliveryUID,\n    }\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":1520,"wires":[["c7b32635.46fbb8","4e109d76.26f76c","f5df7456.5eb63","fea35dd1.6db93","54499543.4b65b4"]]},{"id":"c7b32635.46fbb8","type":"debug","z":"7ca92831.2db6c","name":"Display Expired Information","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1530,"y":1420,"wires":[]},{"id":"77870e54.3cc2a","type":"function","z":"7ca92831.2db6c","name":"Get DB Status","func":"\nif ( (typeof msg.error == 'undefined') || (typeof msg.error != 'object') || (msg.error == null) )  {\n\n    msg.have_error = 0\n    \n    msg.deliverySendUID = msg.payload[0].UID || null\n\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Success\"\n\n    msg.payload = {\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.DeliveryPoolUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\nelse {\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Failure\"\n    msg.have_error = 1\n\n    msg.payload = {\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryPoolUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n            \"error\": msg.error\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":1780,"wires":[["abfa9bc2.7290b8","cad1398a.bc3958","dbd890eb.faee48"]]},{"id":"abfa9bc2.7290b8","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":1620,"wires":[]},{"id":"dbd890eb.faee48","type":"switch","z":"7ca92831.2db6c","name":"Check Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1990,"y":1780,"wires":[[],["e9b7b62f.66c8f8","b0df7528.0920e8","4fc36e06.a890a8"]]},{"id":"e9b7b62f.66c8f8","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"Gravity ACK","x":2290,"y":1660,"wires":[]},{"id":"b0df7528.0920e8","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":2310,"y":1780,"wires":[[],["30072be8.b33cac"]]},{"id":"a8115033.ab5bc","type":"function","z":"7ca92831.2db6c","name":"Check Result","func":"\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success\"\n\n    msg.payload = {\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n\n    \n    \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Failure\"\n    msg.have_error = 1\n    \n    msg.payload = {\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2780,"y":1780,"wires":[["ba1a31a1.dcb11","d6a3070.101ac78","4b0edf91.86d8a8"]]},{"id":"57a4d4ec.8921cc","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":1960,"wires":[["b0df7528.0920e8"]]},{"id":"ba1a31a1.dcb11","type":"switch","z":"7ca92831.2db6c","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3010,"y":1780,"wires":[["57a4d4ec.8921cc"],[]]},{"id":"30072be8.b33cac","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"BEGIN\n\nBEGIN TRANSACTION;\n\nINSERT INTO [dbo].[deliveryresultlog]\n            (DeliveryPoolUID,\n             SendRecordUID,\n             SendUID,\n             SourceType,\n             Status)\nVALUES     (@DeliveryPoolUID,\n            @DeliverySendRecordUID,\n            @DeliverySendUID,\n            'Batch',\n            0)\n\nINSERT INTO [dbo].[deliverypoolbatch]\n            (UID,\n             SerialNum,\n             MPhoneNum,\n             MsgData,\n             Priority,\n             BookingTime,\n             ExpireTime,\n             DepID,\n             MsgType,\n             Memo,\n             SenderID,\n             Bu,\n             Company,\n             Channel,\n             Reference,\n             RequestUID,\n             ObjectID,\n             BatchID)\nVALUES      ( @DeliverySendRecordUID,\n              @DeliveryPoolSerialNum,\n              @DeliveryPoolMPhoneNum,\n              @DeliveryPoolMsgData,\n              @DeliveryPoolPriority,\n              @DeliveryPoolBookingTime,\n              @DeliveryPoolExpireTime,\n              @DeliveryPoolDepID,\n              @DeliveryPoolMsgType,\n              @DeliveryPoolMemo,\n              @DeliveryPoolSenderID,\n              @DeliveryPoolBu,\n              @DeliveryPoolCompany,\n              @DeliveryPoolChannel,\n              @DeliveryPoolReference,\n              @DeliveryPoolRequestUID,\n              @DeliveryPoolObjectID,\n              @DeliveryPoolBatchID)\n\nCOMMIT;\n\nEND","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendRecordUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendRecordUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolSerialNum","type":"int","valueType":"msg","value":"delivery_pool_payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMPhoneNum","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMsgData","type":"NVarChar(?)","valueType":"msg","value":"delivery_pool_payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolPriority","type":"int","valueType":"msg","value":"delivery_pool_payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBookingTime","type":"DateTime","valueType":"msg","value":"delivery_pool_payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolExpireTime","type":"int","valueType":"msg","value":"delivery_pool_payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolDepID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMsgType","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMemo","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolSenderID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBu","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolCompany","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolChannel","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolReference","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolRequestUID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.RequestUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolObjectID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBatchID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.BatchID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2500,"y":1780,"wires":[["a8115033.ab5bc"]]},{"id":"1cb3bfce.eabec","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":1540,"wires":[]},{"id":"6479376a.be5c08","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"ACK","x":690,"y":1660,"wires":[]},{"id":"fea35dd1.6db93","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":1500,"y":1340,"wires":[]},{"id":"a9c7830f.bacc98","type":"redis-in","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"subscribe","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"timeout":"3","x":240,"y":2680,"wires":[["8c04ae9d.fbd298"]]},{"id":"8c04ae9d.fbd298","type":"debug","z":"7ca92831.2db6c","name":"Debug Redis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":2680,"wires":[]},{"id":"c710b77.067d548","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2500,"y":1520,"wires":[]},{"id":"d6a3070.101ac78","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":3080,"y":1700,"wires":[]},{"id":"cad1398a.bc3958","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"GRAVITY_SMS_KERNEL_DB","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":1960,"y":1860,"wires":[]},{"id":"8eb4618c.fb2998","type":"function","z":"7ca92831.2db6c","name":"Random DB Channel ID","func":"\nif (global.get('current_channel_db_id') == 0) {\n  global.set(\"current_channel_db_id\", 1);\n  global.set(\"current_channel_db_name\", \"channel_1\");\n\n}\n\nelse {\n  global.set(\"current_channel_db_id\", 0);\n  global.set(\"current_channel_db_name\", \"channel_0\");\n\n}\n\nmsg.current_channel_db_name = global.get(\"current_channel_db_name\")\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\nglobal.set(\"current_channel_db_id\", 0);\nglobal.set(\"current_channel_db_name\", \"channel_0\");","finalize":"","libs":[],"x":1250,"y":1700,"wires":[["c1381f9d.1a4488","1fca08f.1b61777","bc0e2ff.bc0d0d"]]},{"id":"c1381f9d.1a4488","type":"debug","z":"7ca92831.2db6c","name":"Debug Channel name","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"current_channel_db_name","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":1620,"wires":[]},{"id":"42838cb2.96b2cc","type":"debug","z":"7ca92831.2db6c","name":"Debug  Expire status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"data_is_expired","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":1460,"wires":[]},{"id":"1ebd2f3d.d70fd9","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2460,"y":1560,"wires":[]},{"id":"4b0edf91.86d8a8","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3060,"y":1620,"wires":[]},{"id":"1b31357e.612afb","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":1680,"wires":[]},{"id":"44c87f88.1f5658","type":"MSSQL","z":"8fc62d18.276d3","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"SELECT * FROM  [dbo].[DeliveryResultLog]","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[],"x":600,"y":340,"wires":[["9b3aa1cd.449af8"]]},{"id":"9b3aa1cd.449af8","type":"debug","z":"8fc62d18.276d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":340,"wires":[]},{"id":"220b4872.d25ea","type":"inject","z":"8fc62d18.276d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":180,"wires":[["44c87f88.1f5658"]]},{"id":"9e780300.8d6ea8","type":"debug","z":"7ca92831.2db6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"delivery_pool_payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":1380,"wires":[]},{"id":"7e747f99.2e43d","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"198fa1d7.e38746","name":"Source1","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE FROM [dbo].[DeliveryPool] WHERE UID=@DeliveryPoolUID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1900,"y":1960,"wires":[[]]},{"id":"e8c8a786.d310f","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"8e5f5d80.1a222","name":"Source2","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE FROM [dbo].[DeliveryPool] WHERE UID=@DeliveryPoolUID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1900,"y":2020,"wires":[[]]},{"id":"32bd35f.d90434a","type":"uuid","z":"7ca92831.2db6c","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"UUID1","field":"generated_uuid","fieldType":"msg","x":660,"y":1500,"wires":[["5c426e76.d5963","15cd658a.8e8b4a"]]},{"id":"15cd658a.8e8b4a","type":"debug","z":"7ca92831.2db6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"generated_uuid","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1380,"wires":[]},{"id":"4fc36e06.a890a8","type":"link out","z":"7ca92831.2db6c","name":"Delete Source DB Link","links":["67c08ccc.b6a07c"],"x":2185,"y":1920,"wires":[]},{"id":"67c08ccc.b6a07c","type":"link in","z":"7ca92831.2db6c","name":"Delete Source Input","links":["4fc36e06.a890a8","54499543.4b65b4"],"x":1735,"y":2000,"wires":[["7e747f99.2e43d","e8c8a786.d310f"]]},{"id":"54499543.4b65b4","type":"link out","z":"7ca92831.2db6c","name":"Delete Source DB Link","links":["67c08ccc.b6a07c"],"x":1435,"y":1480,"wires":[]},{"id":"ffaac21.b5b7e4","type":"nats-streaming-subscribe","z":"7ca92831.2db6c","name":"Source DB NATS2","server":"cc192ea2.4308e8","channel":"rowData.source.DeliveryPoolHeader","clientID":"source2-atomic-03","start":"all","start_option":"","durable":true,"durable_name":"source2-atomic-03","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"10","rate_limit":true,"max_in_flight":"1","x":150,"y":2140,"wires":[["c6743213.742cd8","7d68d79a.59e7c8"]]},{"id":"c6743213.742cd8","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":2100,"wires":[]},{"id":"ae4fc017.46c3d8","type":"function","z":"7ca92831.2db6c","name":"Create Payload","func":"\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\n\nmsg.payload = msg.payload.payload\nExpireTimeSec = 86400\nBookingTime = new Date(msg.payload.SendDate)\nNewExpireTime = new Date(BookingTime.getTime() + ExpireTimeSec * 1000)\ncurrent_time = new Date(new Date().getTime())\n\n\nif (current_time >= NewExpireTime) {\n    msg.data_is_expired=1} \nelse \n{\n    msg.data_is_expired=0\n}\n\nNewExpireTime = convert_datetime(NewExpireTime)\nNewSendTime = convert_datetime(BookingTime)\n\nsend_table_uuid = convert_uuid(msg.payload.UID)\ncreate_time = convert_datetime(msg.payload.CreateTime)\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.Priority || 0,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.PGCode || \"\",\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"memo\": msg.payload.PGDesc || \"\",\n    \"req_batch_id\": msg.payload.BatchID || \"\",\n    \"req_req_department\": msg.payload.DepID || \"\"\n    \n}\n\nmsg.payload.send_table_payload = send_table_payload\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":2180,"wires":[["3ff506d7.99d77a"]]},{"id":"92c785c2.23823","type":"switch","z":"7ca92831.2db6c","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolHeaderCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2200,"wires":[["e9945691.582e78"],["f38a554f.db38d"]]},{"id":"f38a554f.db38d","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"ACK","x":670,"y":2260,"wires":[]},{"id":"3ff506d7.99d77a","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"IF NOT EXISTS \n    (   SELECT  1\n        FROM    [dbo].[send] \n        WHERE   req_channel = @req_channel \n        AND     req_batch_id = @req_batch_id\n    )\nBEGIN\n\nINSERT INTO [dbo].[send] \n            (send_mode, \n             way_name, \n             uid, \n             send_from, \n             status, \n             send_time, \n             priority, \n             expire_time, \n             msg_type, \n             req_department, \n             req_bu, \n             req_company, \n             req_channel, \n             req_object_id, \n             memo, \n             req_batch_id, \n             create_time) \nVALUES     ('S', \n            'SMS', \n            @send_uid, \n            @send_from, \n            @send_status, \n            @send_time, \n            @priority, \n            @expire_time, \n            @msg_type, \n            @req_department, \n            @req_bu, \n            @req_company, \n            @req_channel, \n            @req_object_id, \n            @memo, \n            @req_batch_id, \n            Sysdatetime()); \n\nEND;\n\nSELECT TOP 1 uid, req_batch_id, req_channel FROM [dbo].[send] \n    WHERE   req_channel = @req_channel \n    AND     req_batch_id = @req_batch_id\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1120,"y":2280,"wires":[["1a57d3f9.55e3ec","afab3883.f185c","575f7eb1.478ff8"]]},{"id":"1a57d3f9.55e3ec","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"ACK","x":1370,"y":2160,"wires":[]},{"id":"afab3883.f185c","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":2340,"wires":[]},{"id":"7d68d79a.59e7c8","type":"json","z":"7ca92831.2db6c","name":"","property":"payload","action":"","pretty":false,"x":330,"y":2200,"wires":[["92c785c2.23823"]]},{"id":"e9945691.582e78","type":"uuid","z":"7ca92831.2db6c","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"UUID1","field":"generated_uuid","fieldType":"msg","x":690,"y":2180,"wires":[["ae4fc017.46c3d8"]]},{"id":"575f7eb1.478ff8","type":"function","z":"7ca92831.2db6c","name":"","func":"\nsend_table_uid = msg.payload[0].uid || null\nsend_table_batchid = msg.payload[0].req_batch_id || null\nsend_table_channel = msg.payload[0].req_channel || null\n\n\nglobal.set(\"current_send_table_uid\", send_table_uid);\nglobal.set(\"current_send_table_batchid\", send_table_batchid);\nglobal.set(\"current_send_table_channel\", send_table_channel);\n\nmsg.status = {\n    \"current_send_table_uid\": send_table_uid,\n    \"current_send_table_batchid\": send_table_batchid,\n    \"current_send_table_channel\": send_table_channel\n\n    \n}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\nglobal.set(\"current_send_table_uid\", \"\");\nglobal.set(\"current_send_table_batchid\", \"\");\nglobal.set(\"current_send_table_channel\", \"\");\n","finalize":"","libs":[],"x":1350,"y":2260,"wires":[["8e2ccb2b.0f1ee"]]},{"id":"8e2ccb2b.0f1ee","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":2280,"wires":[]},{"id":"bc0e2ff.bc0d0d","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"GRAVITY_SMS_KERNEL_DB","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":1420,"y":1820,"wires":[]}]