.flows.json.backup
[{"id":"7ca92831.2db6c","type":"tab","label":"Gravity DB to Kernel","disabled":false,"info":""},{"id":"2b6f1d38.708b6a","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"8d2d215.047b26","type":"Gravity Server","server":"gravity2-nats.gravity-database.svc.cluster.local","port":"4222"},{"id":"6d06e8a0.db70f","type":"Gravity Server","server":"gravity1-nats","port":"4222"},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"source-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"target-gravity-nats","port":"4222"},{"id":"2ca87b75.cb01dc","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #1","server":"source-mssql1-1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"d5cda53a.b9005","type":"MSSQL-CN","tdsVersion":"7_4","name":"MSSQL Source #2","server":"source-mssql2.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"SinoPacBank","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel Database","server":"kernel-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"gravity","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"cc192ea2.4308e8","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"99b8b8a.277a448","type":"nats-streaming-server","server":"gravity2-nats.gravity-database.svc.cluster.local","port":"4222","cluster":"external-stan"},{"id":"7af1b8fb.a7a99","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Bank Kernel DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mrboker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1120185.4a64de8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"gravity","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"9610aff8.a70458","type":"redis-config","name":"redis-cluster:6379","options":"redis://redis-cluster:6379","cluster":false,"optionsType":"str"},{"id":"8880d363.148ac","type":"ui_group","name":"Thermostat demo","tab":"db58ad1a.e37a8","order":2,"disp":true,"width":"6"},{"id":"a844720c.608d6","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"db58ad1a.e37a8","type":"ui_tab","name":"Test stuff","icon":"dashboard"},{"id":"efa06e25.5e6358","type":"switch","z":"7ca92831.2db6c","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1620,"wires":[["5c426e76.d5963"],["6479376a.be5c08"]]},{"id":"5c426e76.d5963","type":"function","z":"7ca92831.2db6c","name":"Create Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\nmsg.payload = msg.payload.payload\n\nExpireTimeSec = msg.payload.ExpireTime \n\nif (ExpireTimeSec == null || ExpireTimeSec <= 0)  {\n    ExpireTimeSec = 86400\n}\n\nBookingTime = new Date(msg.payload.BookingTime)\n\nNewExpireTime = new Date(BookingTime.getTime() + ExpireTimeSec * 1000)\n\ncurrent_time = new Date(new Date().getTime())\n\n\nif (current_time >= NewExpireTime) {\n    msg.data_is_expired=1} \nelse \n{\n    msg.data_is_expired=0\n}\n\nNewExpireTime = convert_datetime(NewExpireTime)\nNewSendTime = convert_datetime(BookingTime)\n\n\nif (msg.payload.MsgData.length <= 70) {\n    calc_section = 1 } \nelse  {\n    calc_section = Math.floor(msg.payload.MsgData.length/70+1)\n}\n\nsend_table_uuid = generate_uuid()\nsend_record_table_uuid = generate_uuid()\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.Priority || 9,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"memo\": msg.payload.Memo || \"\",\n    \"req_batch_id\": msg.payload.BatchID || \"\",\n    \"req_group_id\": msg.payload.GroupID || \"\",\n    \"calc_section\": calc_section,\n    \"req_req_department\": msg.payload.DepID || \"\"\n    \n}\n\nsend_record_table_payload = {\n    \"uid\": send_record_table_uuid,\n    \"status\": 0,\n    \"send_uid\": send_table_uuid,\n    \"serial_number\": msg.payload.SerialNum || 0,\n    \"customer_phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"customer_id\": msg.payload.SenderID ,\n    \"customer_reference\": msg.payload.Reference || \"\",\n\n}\n\n\nchannel_payload = {\n    \"send_record_uid\": send_record_table_uuid,\n    \"priority\": msg.payload.Priority || 9,\n    \"phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"req_group_id\": msg.payload.GroupID || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n}\n\nmsg.payload.send_table_payload = send_table_payload\nmsg.payload.send_record_table_payload = send_record_table_payload\nmsg.payload.channel_payload = channel_payload\n\nmsg.deliveryUID = convert_uuid(msg.payload.UID)\nmsg.deliverySendUID = send_table_uuid\nmsg.deliverySendRecordUID = send_record_table_uuid\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1580,"wires":[["38b42f58.d069d8","6adb1f48.81aba","42838cb2.96b2cc"]]},{"id":"38b42f58.d069d8","type":"switch","z":"7ca92831.2db6c","name":"Check SMS Expired","property":"data_is_expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":1640,"wires":[["64be2c17.88276c"],["8eb4618c.fb2998"]]},{"id":"1fca08f.1b61777","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"-- BEGIN TRANSACTION;\n\n-- INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id) VALUES('S','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id)\n\n-- INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_group_id ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_group_id)\n\n-- INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_group_id, req_channel, req_department) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_group_id, @req_channel, @req_department)\n\n-- COMMIT;\n\n\n\nIF @@req_batch_id is null or @@req_batch_id = ''\n   BEGIN\n       BEGIN TRANSACTION;\n    \n       INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id) VALUES('S','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id\n       INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_group_id ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_group_id)\n       INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_group_id, req_channel, req_department) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_group_id, @req_channel, @req_department)\n    \n       COMMIT;\n       \n   END\n\nELSE\n    BEGIN\n\n        DECLARE @new_send_record_uid VARCHAR(36)\n   \n        SELECT TOP 1 @new_send_uid=send_record_uid FROM  [dbo].[send] WHERE req_batch_id=@req_batch_id\n        \n        IF @@new_send_uid is null or @@new_send_uid = ''\n            BEGIN\n\n                BEGIN TRANSACTION;\n                INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id) VALUES('S','SMS', @send_uid, @send_from, @send_status, @send_time, @priority, @expire_time, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id)\n                INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_group_id ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_group_id)\n                INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_group_id, req_channel, req_department) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_group_id, @req_channel, @req_department)\n                COMMIT;\n       \n            END\n   \n        ELSE\n            BEGIN\n\n                BEGIN TRANSACTION;\n                INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_group_id ) VALUES('SMS', @send_record_status, @send_record_uid, @new_send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_group_id)\n                INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, new_send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_group_id, req_channel, req_department) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_group_id, @req_channel, @req_department)\n                COMMIT;\n    \n            END\n   END\n   \n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_group_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_group_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"Int","valueType":"msg","value":"payload.send_table_payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"phone","type":"VarChar(?)","valueType":"msg","value":"payload.channel_payload.phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_status","type":"int","valueType":"msg","value":"payload.send_record_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2340,"y":1820,"wires":[["72b307b0.a2321","77870e54.3cc2a"]]},{"id":"72b307b0.a2321","type":"debug","z":"7ca92831.2db6c","name":"Debug MSSQL Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2570,"y":1760,"wires":[]},{"id":"f58011c2.2f7df8","type":"q-gate","z":"7ca92831.2db6c","d":true,"name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":2670,"y":4120,"wires":[[]]},{"id":"68621f9c.c14198","type":"nats-streaming-subscribe","z":"7ca92831.2db6c","name":"Source DB NATS2","server":"cc192ea2.4308e8","channel":"rowData.source.DeliveryPool","clientID":"source2-atomic-01","start":"all","start_option":"","durable":true,"durable_name":"source2-atomic-01","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"10","rate_limit":true,"max_in_flight":"1","x":210,"y":1360,"wires":[["6b4f0611.9e8e6","1cb3bfce.eabec"]]},{"id":"6b4f0611.9e8e6","type":"json","z":"7ca92831.2db6c","name":"","property":"payload","action":"","pretty":false,"x":310,"y":1620,"wires":[["efa06e25.5e6358"]]},{"id":"6adb1f48.81aba","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1400,"wires":[]},{"id":"a4686f76.2b462","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"\nINSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, Status, Message, SourceType) VALUES(@DeliveryPoolUID, 10005, 'SMS Message already expired before sync to kernel database','Batch')\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2100,"y":1220,"wires":[["e82fa5a.9c179d8"]]},{"id":"4e109d76.26f76c","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":1830,"y":1200,"wires":[[],["a4686f76.2b462"]]},{"id":"e82fa5a.9c179d8","type":"function","z":"7ca92831.2db6c","name":"Check Result","func":"\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n    \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Cannot Get Batch ID from Kernel DB, Error Message: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"level\": \"ERROR\",\n    \"code\": 11003,\n    \"message\": msg.result,\n    \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n    \"level\": \"ERROR\",\n    \"message\": msg.result,\n    \"time\": (new Date()).toJSON(),\n\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1220,"wires":[["a83f5380.dd3dd8","c710b77.067d548"]]},{"id":"13ad1895.c4b5a7","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2120,"y":1060,"wires":[["4e109d76.26f76c"]]},{"id":"a83f5380.dd3dd8","type":"switch","z":"7ca92831.2db6c","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2650,"y":1220,"wires":[["13ad1895.c4b5a7"],[]]},{"id":"f5df7456.5eb63","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"SMS ACK","x":1600,"y":1040,"wires":[]},{"id":"64be2c17.88276c","type":"function","z":"7ca92831.2db6c","name":"Log Expired Information","func":"msg.result = \"[GRAVITY][ATOMIC] SMS already Expired will not be sent , DeliveryPool UID:\" + msg.deliveryUID\n\nmsg.payload = {\n    \"code\": 1,\n    \"msg\": msg.result\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1200,"wires":[["c7b32635.46fbb8","4e109d76.26f76c","f5df7456.5eb63","fea35dd1.6db93"]]},{"id":"c7b32635.46fbb8","type":"debug","z":"7ca92831.2db6c","name":"Display Expired Information","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":1280,"wires":[]},{"id":"77870e54.3cc2a","type":"function","z":"7ca92831.2db6c","name":"Get DB Status","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Success, DeliveryPool UID:\" + msg.deliveryUID + \", Kernel send_record Uid: \" + msg.deliverySendUID\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":1900,"wires":[["abfa9bc2.7290b8","dbd890eb.faee48","cad1398a.bc3958"]]},{"id":"abfa9bc2.7290b8","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2780,"y":1760,"wires":[]},{"id":"dbd890eb.faee48","type":"switch","z":"7ca92831.2db6c","name":"Check Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2850,"y":1900,"wires":[[],["e9b7b62f.66c8f8","b0df7528.0920e8"]]},{"id":"e9b7b62f.66c8f8","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"Gravity ACK","x":3090,"y":2020,"wires":[]},{"id":"b0df7528.0920e8","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":3110,"y":1900,"wires":[[],["30072be8.b33cac"]]},{"id":"a8115033.ab5bc","type":"function","z":"7ca92831.2db6c","name":"Check Result","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success, UID:\" + msg.deliveryUID\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] SMS Information to Report DB Failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3560,"y":1900,"wires":[["ba1a31a1.dcb11","d6a3070.101ac78"]]},{"id":"57a4d4ec.8921cc","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3420,"y":2060,"wires":[["b0df7528.0920e8"]]},{"id":"ba1a31a1.dcb11","type":"switch","z":"7ca92831.2db6c","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3790,"y":1900,"wires":[["57a4d4ec.8921cc"],[]]},{"id":"30072be8.b33cac","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, DeliverySendUID, SourceType, Status ) VALUES(@DeliveryPoolUID, @DeliverySendUID, @DeliverySendRecordUID, 'Batch', 0)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendRecordUID","type":"Uni","valueType":"msg","value":"deliverySendRecordUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3340,"y":1900,"wires":[["a8115033.ab5bc"]]},{"id":"1cb3bfce.eabec","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1260,"wires":[]},{"id":"6479376a.be5c08","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"ACK","x":690,"y":1640,"wires":[]},{"id":"fea35dd1.6db93","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":1640,"y":1000,"wires":[]},{"id":"a9c7830f.bacc98","type":"redis-in","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"subscribe","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"timeout":"3","x":240,"y":2680,"wires":[["8c04ae9d.fbd298"]]},{"id":"8c04ae9d.fbd298","type":"debug","z":"7ca92831.2db6c","name":"Debug Redis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":2680,"wires":[]},{"id":"c710b77.067d548","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2700,"y":1280,"wires":[]},{"id":"d6a3070.101ac78","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":3860,"y":1820,"wires":[]},{"id":"cad1398a.bc3958","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2820,"y":2020,"wires":[]},{"id":"8eb4618c.fb2998","type":"function","z":"7ca92831.2db6c","name":"Random DB Channel ID","func":"\nif (global.get('current_channel_db_id') == 0) {\n  global.set(\"current_channel_db_id\", 1);\n  global.set(\"current_channel_db_name\", \"channel_1\");\n\n}\n\nelse {\n  global.set(\"current_channel_db_id\", 0);\n  global.set(\"current_channel_db_name\", \"channel_0\");\n\n}\n\nmsg.current_channel_db_name = global.get(\"current_channel_db_name\")\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\nglobal.set(\"current_channel_db_id\", 0);\nglobal.set(\"current_channel_db_name\", \"channel_0\");","finalize":"","libs":[],"x":2230,"y":1680,"wires":[["c1381f9d.1a4488","1fca08f.1b61777"]]},{"id":"c1381f9d.1a4488","type":"debug","z":"7ca92831.2db6c","name":"Debug Channel name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"current_channel_db_name","targetType":"msg","statusVal":"","statusType":"auto","x":2500,"y":1620,"wires":[]},{"id":"42838cb2.96b2cc","type":"debug","z":"7ca92831.2db6c","name":"Debug  Expire status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data_is_expired","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":1460,"wires":[]},{"id":"b9a6b4b4.8160f","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"79cd02d9.42f16c","name":"Query Batch","outField":"query_result_payload","returnType":0,"throwErrors":"0","query":"-- SELECT req_batch_id FROM [dbo].[send]\n\nSELECT TOP 1 uid, req_batch_id FROM [dbo].[send] where req_batch_id=@req_batch_id\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"query_payload.batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":690,"y":2400,"wires":[["9d94c14c.3b8de"]]},{"id":"b4439165.d651f","type":"inject","z":"7ca92831.2db6c","name":"Init Prepare","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":2400,"wires":[[]]},{"id":"8efa9988.94a688","type":"debug","z":"7ca92831.2db6c","name":"Display UID For Batch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"uid_for_batch","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":2360,"wires":[]},{"id":"9d94c14c.3b8de","type":"function","z":"7ca92831.2db6c","name":"Generate Result","func":"    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n\n    if (msg.query_result_payload.length < 1) { \n        msg.uid_for_batch = null }\n    else {\n        msg.uid_for_batch = msg.query_result_payload[0].uid\n    }\n\n    \n} else {\n    msg.have_error = 1\n}\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":2400,"wires":[["96d9642a.c16258"]]},{"id":"58d123db.f89eb4","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":2560,"wires":[[]]},{"id":"96d9642a.c16258","type":"switch","z":"7ca92831.2db6c","name":"Check MSSQL","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":2400,"wires":[["8efa9988.94a688"],["eb312594.6903d8"]]},{"id":"b9463b31.5cf6e","type":"redis-out","z":"7ca92831.2db6c","server":"9610aff8.a70458","command":"publish","name":"Publish Redis","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":1600,"y":2420,"wires":[]},{"id":"212831c5.2daa8e","type":"function","z":"2b6f1d38.708b6a","name":"run callback","func":"msg.callback(msg.payload.value.joke.replace(/&quot;/g, '\"'));","outputs":"0","noerr":0,"x":990,"y":440,"wires":[]},{"id":"127459ed.a814f6","type":"inject","z":"2b6f1d38.708b6a","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":510,"y":440,"wires":[["bcc9902c.38276"]]},{"id":"bcc9902c.38276","type":"function","z":"2b6f1d38.708b6a","name":"set getJoke","func":"var getJoke = function(firstname, lastname, callback) {\n    firstname = firstname || 'Chuck';\n    lastname = lastname || 'Norris';\n    \n    // http request\n    msg.url = `http://api.icndb.com/jokes/random?firstName=${firstname}&lastName=${lastname}`;\n    msg.method = 'GET';\n    \n    // assign callback to msg\n    msg.callback = callback;\n    \n    // return copy of msg\n    node.send(Object.assign({}, msg));\n};\n\n\n// make global\nglobal.set('getJoke', getJoke);","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["fd8227d.b6269d8"]]},{"id":"874bac38.909f9","type":"comment","z":"2b6f1d38.708b6a","name":"Flow callback example","info":"","x":520,"y":400,"wires":[]},{"id":"fd8227d.b6269d8","type":"http request","z":"2b6f1d38.708b6a","name":"","method":"use","ret":"obj","url":"","tls":"","x":830,"y":440,"wires":[["212831c5.2daa8e"]]},{"id":"fc41d0dc.4d401","type":"inject","z":"2b6f1d38.708b6a","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":520,"y":480,"wires":[["866162c0.13fd5"]]},{"id":"866162c0.13fd5","type":"function","z":"2b6f1d38.708b6a","name":"run getJoke(firstname, lastname, callback)","func":"global.get('getJoke')('Wesley', 'Stam', function (joke) {\n    msg.payload = joke;\n    node.send(msg);\n});","outputs":1,"noerr":0,"x":760,"y":480,"wires":[["7f095419.73b7ec"]]},{"id":"7f095419.73b7ec","type":"debug","z":"2b6f1d38.708b6a","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":480,"wires":[]},{"id":"eb312594.6903d8","type":"function","z":"7ca92831.2db6c","name":"Log Error","func":"\nmsg.payload = {\n   \"channel\": \"GRAVITY_SMS_MESSAGE_API\",\n   \"level\": \"ERROR\",\n   \"code\": 5306,\n   \"message\": \"Gravity 對 Kernel 資料庫連線溝通異常\",\n   \"time\": (new Date()).toJSON(),\n   \"payload\": msg.error\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2420,"wires":[["b9463b31.5cf6e","58d123db.f89eb4"]]}]