flows.json
[{"id":"7ca92831.2db6c","type":"tab","label":"Gravity DB to Kernel","disabled":false,"info":""},{"id":"8fc62d18.276d3","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"a0407e4f.065a3","type":"tab","label":"New","disabled":false,"info":""},{"id":"79cd02d9.42f16c","type":"MSSQL-CN","tdsVersion":"7_4","name":"Kernel Database","server":"{{{KERNEL_DATABASE_HOST}}}","port":"{{{KERNEL_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{KERNEL_DATABASE_DB}}}","useUTC":true,"connectTimeout":"1500000","requestTimeout":"1500000","cancelTimeout":"500000","pool":"1000","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"{{{REPORT_DATABASE_HOST}}}","port":"{{{REPORT_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{REPORT_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"50","parseJSON":false,"enableArithAbort":true},{"id":"cc192ea2.4308e8","type":"nats-streaming-server","server":"gravity2-nats","port":"4222","cluster":"external-stan"},{"id":"7af1b8fb.a7a99","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Bank Kernel DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mrboker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1120185.4a64de8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"gravity","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"9610aff8.a70458","type":"redis-config","name":"redis-cluster:6379","options":"redis://redis-cluster:6379","cluster":false,"optionsType":"str"},{"id":"198fa1d7.e38746","type":"MSSQL-CN","tdsVersion":"7_4","name":"Batch DB Source1","server":"{{{BATCH1_DATABASE_HOST}}}","port":"{{{BATCH1_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{BATCH1_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"8e5f5d80.1a222","type":"MSSQL-CN","tdsVersion":"7_4","name":"Batch Source2","server":"{{{BATCH2_DATABASE_HOST}}}","port":"{{{BATCH2_DATABASE_PORT}}}","encyption":true,"trustServerCertificate":true,"database":"{{{BATCH2_DATABASE_DB}}}","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"546599e3.0c5ba","type":"Cache","name":"","defaultTtl":"10","checkPeriod":"5"},{"id":"efa06e25.5e6358","type":"switch","z":"7ca92831.2db6c","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1660,"wires":[["75fe6aa7.07a554"],["6479376a.be5c08"]]},{"id":"38b42f58.d069d8","type":"switch","z":"7ca92831.2db6c","name":"Check SMS Expired","property":"data_is_expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1620,"y":1660,"wires":[["64be2c17.88276c"],["8eb4618c.fb2998"]]},{"id":"72b307b0.a2321","type":"debug","z":"7ca92831.2db6c","name":"Debug MSSQL Kernel Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":1660,"wires":[]},{"id":"f58011c2.2f7df8","type":"q-gate","z":"7ca92831.2db6c","d":true,"name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":2670,"y":4120,"wires":[[]]},{"id":"68621f9c.c14198","type":"nats-streaming-subscribe","z":"7ca92831.2db6c","d":true,"name":"Source DB NATS2","server":"cc192ea2.4308e8","channel":"rowData.source.DeliveryPool","clientID":"source2-atomic-001","start":"all","start_option":"","durable":true,"durable_name":"source2-atomic-001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"1000000","rate_limit":true,"max_in_flight":"1000","x":130,"y":1620,"wires":[["1cb3bfce.eabec","6b4f0611.9e8e6"]]},{"id":"6b4f0611.9e8e6","type":"json","z":"7ca92831.2db6c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1660,"wires":[["efa06e25.5e6358"]]},{"id":"6adb1f48.81aba","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1720,"y":1400,"wires":[]},{"id":"a4686f76.2b462","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"\nINSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, Status, Message, SourceType) VALUES(@DeliveryPoolUID, 5301, 'SMS Message already expired before sync to kernel database','Batch')\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2820,"y":1560,"wires":[["e82fa5a.9c179d8"]]},{"id":"4e109d76.26f76c","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":2610,"y":1560,"wires":[[],["a4686f76.2b462"]]},{"id":"e82fa5a.9c179d8","type":"function","z":"7ca92831.2db6c","name":"Check Result","func":"msg.have_error = 0\n\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success\"\n\n    msg.payload = {\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n\n    \n    \n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] SMS Information to Report DB Failure\"\n    msg.have_error = 1\n    \n    msg.payload = {\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":1560,"wires":[["a83f5380.dd3dd8","c710b77.067d548","1ebd2f3d.d70fd9"]]},{"id":"13ad1895.c4b5a7","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2860,"y":1420,"wires":[["4e109d76.26f76c"]]},{"id":"a83f5380.dd3dd8","type":"switch","z":"7ca92831.2db6c","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3250,"y":1520,"wires":[["13ad1895.c4b5a7"],[]]},{"id":"f5df7456.5eb63","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"SMS ACK","x":2280,"y":1420,"wires":[]},{"id":"64be2c17.88276c","type":"function","z":"7ca92831.2db6c","name":"Log Expired Information","func":"msg.result = \"[GRAVITY][ATOMIC] SMS already Expired will not be sent\"\nmsg.payload = {\n    \"level\": \"ERROR\",\n    \"code\": 5304,\n    \"message\": msg.result,\n    \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n    \"level\": \"ERROR\",\n    \"time\": (new Date()).toJSON(),\n    \"payload\": {\n        \"DeliveryPoolUID\": msg.deliveryUID,\n    }\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":1560,"wires":[["c7b32635.46fbb8","4e109d76.26f76c","f5df7456.5eb63","fea35dd1.6db93","54499543.4b65b4"]]},{"id":"c7b32635.46fbb8","type":"debug","z":"7ca92831.2db6c","name":"Display Expired Information","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2350,"y":1460,"wires":[]},{"id":"77870e54.3cc2a","type":"function","z":"7ca92831.2db6c","name":"Get DB Status","func":"\nif ( (typeof msg.error == 'undefined') || (typeof msg.error != 'object') || (msg.error == null) )  {\n\n    msg.have_error = 0\n    \n    msg.deliverySendUID = msg.payload[0].uid || null\n\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Success\"\n\n    msg.payload = {\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\nelse {\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Failure\"\n    msg.have_error = 1\n\n    msg.payload = {\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n            \"error\": msg.error\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":1820,"wires":[["abfa9bc2.7290b8","cad1398a.bc3958","dbd890eb.faee48"]]},{"id":"abfa9bc2.7290b8","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2880,"y":1660,"wires":[]},{"id":"dbd890eb.faee48","type":"switch","z":"7ca92831.2db6c","name":"Check Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2810,"y":1820,"wires":[[],["e9b7b62f.66c8f8","b0df7528.0920e8","4fc36e06.a890a8"]]},{"id":"e9b7b62f.66c8f8","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"Gravity ACK","x":3110,"y":1700,"wires":[]},{"id":"b0df7528.0920e8","type":"loop","z":"7ca92831.2db6c","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":3110,"y":1840,"wires":[[],["30072be8.b33cac"]]},{"id":"a8115033.ab5bc","type":"function","z":"7ca92831.2db6c","name":"Check Result","func":"\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success\"\n\n    msg.payload = {\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n\n    \n    \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Failure\"\n    msg.have_error = 1\n    \n    msg.payload = {\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3600,"y":1820,"wires":[["ba1a31a1.dcb11","d6a3070.101ac78","4b0edf91.86d8a8"]]},{"id":"57a4d4ec.8921cc","type":"delay","z":"7ca92831.2db6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3320,"y":2000,"wires":[["b0df7528.0920e8"]]},{"id":"ba1a31a1.dcb11","type":"switch","z":"7ca92831.2db6c","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3830,"y":1820,"wires":[["57a4d4ec.8921cc"],[]]},{"id":"1cb3bfce.eabec","type":"debug","z":"7ca92831.2db6c","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":1540,"wires":[]},{"id":"6479376a.be5c08","type":"nats-streaming-acknowledge","z":"7ca92831.2db6c","name":"ACK","x":630,"y":1720,"wires":[]},{"id":"fea35dd1.6db93","type":"redis-out","z":"7ca92831.2db6c","d":true,"server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2320,"y":1340,"wires":[]},{"id":"c710b77.067d548","type":"redis-out","z":"7ca92831.2db6c","d":true,"server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":3320,"y":1560,"wires":[]},{"id":"d6a3070.101ac78","type":"redis-out","z":"7ca92831.2db6c","d":true,"server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":3900,"y":1740,"wires":[]},{"id":"cad1398a.bc3958","type":"redis-out","z":"7ca92831.2db6c","d":true,"server":"9610aff8.a70458","command":"publish","name":"GRAVITY_SMS_KERNEL_DB","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2780,"y":1900,"wires":[]},{"id":"8eb4618c.fb2998","type":"function","z":"7ca92831.2db6c","name":"Random DB Channel ID","func":"\nif (global.get('current_channel_db_id') == 0) {\n  global.set(\"current_channel_db_id\", 1);\n  global.set(\"current_channel_db_name\", \"channel_1\");\n\n}\n\nelse {\n  global.set(\"current_channel_db_id\", 0);\n  global.set(\"current_channel_db_name\", \"channel_0\");\n\n}\n\nmsg.current_channel_db_name = global.get(\"current_channel_db_name\")\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\nglobal.set(\"current_channel_db_id\", 0);\nglobal.set(\"current_channel_db_name\", \"channel_0\");","finalize":"","libs":[],"x":2030,"y":1680,"wires":[["1fca08f.1b61777"]]},{"id":"42838cb2.96b2cc","type":"debug","z":"7ca92831.2db6c","name":"Debug  Expire status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"data_is_expired","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":1440,"wires":[]},{"id":"1ebd2f3d.d70fd9","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3280,"y":1600,"wires":[]},{"id":"4b0edf91.86d8a8","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3880,"y":1660,"wires":[]},{"id":"1b31357e.612afb","type":"debug","z":"7ca92831.2db6c","name":"Display Result","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2560,"y":1720,"wires":[]},{"id":"220b4872.d25ea","type":"inject","z":"8fc62d18.276d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":300,"wires":[["e710fdb9.a932c"]]},{"id":"9e780300.8d6ea8","type":"debug","z":"7ca92831.2db6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"delivery_pool_payload","targetType":"msg","statusVal":"","statusType":"auto","x":1760,"y":1360,"wires":[]},{"id":"7e747f99.2e43d","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"198fa1d7.e38746","name":"Source1","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE FROM [dbo].[DeliveryPool] WHERE UID=@DeliveryPoolUID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2980,"y":2060,"wires":[[]]},{"id":"e8c8a786.d310f","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"8e5f5d80.1a222","name":"Source2","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE FROM [dbo].[DeliveryPool] WHERE UID=@DeliveryPoolUID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2980,"y":2120,"wires":[[]]},{"id":"4fc36e06.a890a8","type":"link out","z":"7ca92831.2db6c","name":"Delete Source DB Link","links":["67c08ccc.b6a07c"],"x":3005,"y":1960,"wires":[]},{"id":"67c08ccc.b6a07c","type":"link in","z":"7ca92831.2db6c","name":"Delete Source Input","links":["4fc36e06.a890a8","54499543.4b65b4"],"x":2595,"y":2100,"wires":[["7e747f99.2e43d","e8c8a786.d310f"]]},{"id":"54499543.4b65b4","type":"link out","z":"7ca92831.2db6c","name":"Delete Source DB Link","links":["67c08ccc.b6a07c"],"x":2295,"y":1520,"wires":[]},{"id":"75fe6aa7.07a554","type":"uuid","z":"7ca92831.2db6c","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"UUID1","field":"generated_uuid","fieldType":"msg","x":970,"y":1660,"wires":[["6a580d95.abba04"]]},{"id":"30072be8.b33cac","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"BEGIN\n\nBEGIN TRANSACTION;\n\nINSERT INTO [dbo].[DeliveryResultLog]\n            (DeliveryPoolUID,\n             SendRecordUID,\n             SendUID,\n             SourceType,\n             Status)\nVALUES     (@DeliveryPoolUID,\n            @DeliverySendRecordUID,\n            @DeliverySendUID,\n            'Batch',\n            0)\n\nINSERT INTO [dbo].[DeliveryPoolBatch]\n            (UID,\n             SerialNum,\n             MPhoneNum,\n             MsgData,\n             Priority,\n             BookingTime,\n             ExpireTime,\n             DepID,\n             MsgType,\n             Memo,\n             SenderID,\n             Bu,\n             Company,\n             Channel,\n             Reference,\n             RequestUID,\n             ObjectID,\n             BatchID)\nVALUES      ( @DeliverySendRecordUID,\n              @DeliveryPoolSerialNum,\n              @DeliveryPoolMPhoneNum,\n              @DeliveryPoolMsgData,\n              @DeliveryPoolPriority,\n              @DeliveryPoolBookingTime,\n              @DeliveryPoolExpireTime,\n              @DeliveryPoolDepID,\n              @DeliveryPoolMsgType,\n              @DeliveryPoolMemo,\n              @DeliveryPoolSenderID,\n              @DeliveryPoolBu,\n              @DeliveryPoolCompany,\n              @DeliveryPoolChannel,\n              @DeliveryPoolReference,\n              @DeliveryPoolRequestUID,\n              @DeliveryPoolObjectID,\n              @DeliveryPoolBatchID)\n\nCOMMIT;\n\nEND","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendRecordUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendRecordUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolSerialNum","type":"int","valueType":"msg","value":"delivery_pool_payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMPhoneNum","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMsgData","type":"NVarChar(?)","valueType":"msg","value":"delivery_pool_payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolPriority","type":"int","valueType":"msg","value":"delivery_pool_payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBookingTime","type":"DateTime","valueType":"msg","value":"delivery_pool_payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolExpireTime","type":"int","valueType":"msg","value":"delivery_pool_payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolDepID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMsgType","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMemo","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolSenderID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBu","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolCompany","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolChannel","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolReference","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolRequestUID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.RequestUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolObjectID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBatchID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.BatchID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3320,"y":1820,"wires":[["a8115033.ab5bc"]]},{"id":"1fca08f.1b61777","type":"MSSQL","z":"7ca92831.2db6c","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"IF @req_batch_id is null or @req_batch_id = ''\n    BEGIN\n      BEGIN TRANSACTION;\n      INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_date, priority, msg_type, req_channel, memo,req_batch_id ,create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type,  @req_channel, @memo, @req_batch_id, SYSDATETIME());\n      INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,req_department, req_bu, req_company, req_object_id, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, @req_department, @req_bu, @req_company, @req_object_id, SYSDATETIME());\n      INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department,create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n      COMMIT;\n      SELECT TOP 1 uid FROM [dbo].[send] WHERE uid=@send_uid\n    END\nELSE\n    BEGIN\n\n    DECLARE @new_send_uid VARCHAR(36)\n    SELECT TOP 1 @new_send_uid=uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n    \n    IF @new_send_uid is null or @new_send_uid = ''\n        BEGIN\n            BEGIN TRANSACTION;\n            INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_channel, memo,req_batch_id, create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type, @req_channel, @memo, @req_batch_id,SYSDATETIME());    \n            INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, req_department, req_bu, req_company, req_object_id, create_time ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n            INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n            COMMIT;\n            SELECT TOP 1 uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n        END\n    ELSE\n        BEGIN\n            BEGIN TRANSACTION;\n            INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, req_department, req_bu, req_company, req_object_id, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @new_send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, @req_department, @req_bu, @req_company, @req_object_id, SYSDATETIME());\n            INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @new_send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n            COMMIT;\n            SELECT TOP 1 uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n        END\n    END\n\n\n\n-- IF @req_batch_id is null or @req_batch_id = ''\n--     BEGIN\n--       BEGIN TRANSACTION;\n--       INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_date, priority, msg_type, req_channel, memo,req_batch_id ,create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id, SYSDATETIME());\n--       INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,req_department, req_bu, req_company, req_object_id, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--       INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department,create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n--       COMMIT;\n--       SELECT TOP 1 uid FROM [dbo].[send] WHERE uid=@send_uid\n--     END\n-- ELSE\n--     BEGIN\n\n--     DECLARE @new_send_uid VARCHAR(36)\n--     SELECT TOP 1 @new_send_uid=uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n    \n--     IF @new_send_uid is null or @new_send_uid = ''\n--         BEGIN\n--             BEGIN TRANSACTION;\n--             INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id, create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id,SYSDATETIME());    \n--             INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,create_time ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--             INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n--             COMMIT;\n--             SELECT TOP 1 uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n--         END\n--     ELSE\n--         BEGIN\n--             BEGIN TRANSACTION;\n--             INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @new_send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--             INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @new_send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n--             COMMIT;\n--             SELECT TOP 1 uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n--         END\n--     END\n\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"phone","type":"VarChar(?)","valueType":"msg","value":"payload.channel_payload.phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_status","type":"int","valueType":"msg","value":"payload.send_record_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2300,"y":1740,"wires":[["72b307b0.a2321","1b31357e.612afb","77870e54.3cc2a"]]},{"id":"6a580d95.abba04","type":"function","z":"7ca92831.2db6c","name":"Create Payload","func":"\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\nmsg.payload = msg.payload.payload\n\nExpireTimeSec = msg.payload.ExpireTime \n\nif (ExpireTimeSec == null || ExpireTimeSec <= 0)  {\n    ExpireTimeSec = 86400\n}\n\nBookingTime = new Date(msg.payload.BookingTime)\n\nNewExpireTime = new Date(BookingTime.getTime() + ExpireTimeSec * 1000)\n\ncurrent_time = new Date(new Date().getTime())\n\n\nif (current_time >= NewExpireTime) {\n    msg.data_is_expired=1} \nelse \n{\n    msg.data_is_expired=0\n}\n\nNewExpireTime = convert_datetime(NewExpireTime)\nNewSendTime = convert_datetime(BookingTime)\n\n\nif (msg.payload.MsgData == \"\" || msg.payload.MsgData.length <= 70) {\n    calc_section = 1 } \nelse  {\n    calc_section = Math.floor(msg.payload.MsgData.length/70+1)\n}\n\n\n\nsend_record_table_uuid = convert_uuid(msg.payload.UID)\nsen_table_request_uid = convert_uuid(msg.payload.RequestUID)\n\nsend_table_uuid = msg.generated_uuid\n\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.Priority,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"memo\": msg.payload.Memo || \"\",\n    \"req_batch_id\": msg.payload.BatchID || \"\",\n    \"req_uid\": sen_table_request_uid,\n    \"req_req_department\": msg.payload.DepID || \"\"\n    \n}\n\nsend_record_table_payload = {\n    \"uid\": send_record_table_uuid,\n    \"status\": 0,\n    \"send_uid\": send_table_uuid,\n    \"serial_number\": msg.payload.SerialNum || 0,\n    \"customer_phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"customer_id\": msg.payload.SenderID ,\n    \"customer_reference\": msg.payload.Reference || \"\",\n    \"calc_section\": calc_section,\n    \"req_uid\": sen_table_request_uid,\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\"\n}\n\n\nchannel_payload = {\n    \"send_record_uid\": send_record_table_uuid,\n    \"send_uid\": send_table_uuid,\n    \"priority\": msg.payload.Priority,\n    \"phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"req_uid\": msg.payload.RequestUID || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_department\": msg.payload.DepID || \"\"\n}\n\nmsg.payload.send_table_payload = send_table_payload\nmsg.payload.send_record_table_payload = send_record_table_payload\nmsg.payload.channel_payload = channel_payload\n\nmsg.deliveryUID = convert_uuid(msg.payload.UID)\nmsg.deliverySendUID = send_table_uuid\nmsg.deliverySendRecordUID = send_record_table_uuid\n\ndelivery_pool_payload = {\n    \"UID\": send_record_table_uuid,\n    \"SerialNum\": msg.payload.SerialNum || 0,\n    \"MPhoneNum\": msg.payload.MPhoneNum,\n    \"MsgData\": msg.payload.MsgData ,\n    \"Priority\": msg.payload.Priority,\n    \"BookingTime\": msg.payload.BookingTime,\n    \"ExpireTime\": msg.payload.ExpireTime ,\n    \"DepID\": msg.payload.DepID,\n    \"MsgType\":  msg.payload.MsgType,\n    \"Memo\": msg.payload.Memo ,\n    \"SenderID\": msg.payload.SenderID,\n    \"Bu\": msg.payload.Bu,\n    \"Company\": msg.payload.Company ,\n    \"Channel\": msg.payload.Channel,\n    \"Reference\": msg.payload.Reference,\n    \"RequestUID\": sen_table_request_uid,\n    \"ObjectID\": msg.payload.ObjectID ,\n    \"BatchID\": msg.payload.BatchID\n}\n\nmsg.delivery_pool_payload = delivery_pool_payload\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":1660,"wires":[["38b42f58.d069d8","42838cb2.96b2cc","6adb1f48.81aba","9e780300.8d6ea8"]]},{"id":"c5c721b4.dffe18","type":"function","z":"8fc62d18.276d3","name":"","func":"msg.topic = msg.current_batch.req_batch_id\nmsg.payload = msg.current_batch.uid\nmsg.ttl = 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":260,"wires":[["bdd81835.f35c9","a8cf07bc.dc34f"]]},{"id":"bdd81835.f35c9","type":"Cache out","z":"8fc62d18.276d3","name":"","cache":"546599e3.0c5ba","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","ttlType":"msg","ttlProperty":"ttl","useString":false,"x":1830,"y":260,"wires":[]},{"id":"591097b4.109978","type":"MSSQL","z":"8fc62d18.276d3","mssqlCN":"198fa1d7.e38746","name":"Source1","outField":"payload","returnType":0,"throwErrors":"0","query":"SELECT TOP 1 UID as uid, BatchID as req_batch_id, CONVERT(date, SendDate, 105) AS send_date , PGCode as msg_type, Channel as req_channel, Priority as priority, PGDesc as memo FROM [dbo].[DeliveryPool_Header] WHERE BatchID=@batchid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"batchid","type":"VarChar(?)","valueType":"msg","value":"batchid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1060,"y":260,"wires":[["8023f0be.b5a65"]]},{"id":"351155f0.07a90a","type":"MSSQL","z":"8fc62d18.276d3","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":"0","throwErrors":"0","query":"\nDECLARE @MYBATCHID VARCHAR(64)\n\nSELECT @MYBATCHID=req_channel FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n\nIF @MYBATCHID IS NULL\n\nBEGIN\n\nINSERT INTO [dbo].[send] \n            (uid,\n             send_date,\n             send_mode,\n             send_from, \n             way_name, \n             status, \n             priority, \n             msg_type, \n             req_channel, \n             memo, \n             req_batch_id, \n             create_time) \nVALUES     (@uid,\n            @send_date,\n            'S', \n            2, \n            'SMS', \n            4, \n            @priority, \n            @msg_type, \n            @req_channel, \n            @memo, \n            @req_batch_id, \n            Sysdatetime())\nEND\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_date","type":"Date","valueType":"msg","value":"payload.send_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1460,"y":260,"wires":[["c5c721b4.dffe18","7fc63f5d.cf8a2"]]},{"id":"8023f0be.b5a65","type":"function","z":"8fc62d18.276d3","name":"Check Result","func":"if ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n    msg.payload = msg.payload[0] || null\n    msg.current_batch = msg.payload\n}\n\nelse {\n    msg.have_error = 1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":260,"wires":[["e639af16.e5ff98","351155f0.07a90a"]]},{"id":"e639af16.e5ff98","type":"debug","z":"8fc62d18.276d3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":200,"wires":[]},{"id":"9452d9e8.48efd","type":"switch","z":"a0407e4f.065a3","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1020,"wires":[["2867b541.3947f2"],["7033fbb3.80f0fc"]]},{"id":"7ba7098b.55f9e8","type":"switch","z":"a0407e4f.065a3","name":"Check SMS Expired","property":"data_is_expired","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1560,"y":1020,"wires":[["50e6f4a9.522fac"],["707ff75d.02c08"]]},{"id":"9229121b.c21a","type":"debug","z":"a0407e4f.065a3","name":"Debug MSSQL Kernel Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":840,"wires":[]},{"id":"d8e3563a.2b76d","type":"q-gate","z":"a0407e4f.065a3","d":true,"name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":2710,"y":3280,"wires":[[]]},{"id":"250b992a.c9c59e","type":"nats-streaming-subscribe","z":"a0407e4f.065a3","name":"Source DB NATS2","server":"cc192ea2.4308e8","channel":"rowData.source.DeliveryPool","clientID":"source2-atomic-001","start":"all","start_option":"","durable":true,"durable_name":"source2-atomic-001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"10","rate_limit":true,"max_in_flight":"1","x":130,"y":860,"wires":[["64f56f13.ca1b88","3e3e95b0.93c26a"]]},{"id":"3e3e95b0.93c26a","type":"json","z":"a0407e4f.065a3","name":"","property":"payload","action":"","pretty":false,"x":330,"y":920,"wires":[["9452d9e8.48efd"]]},{"id":"94ac5f4b.419b98","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"\nINSERT INTO [dbo].[DeliveryResultLog](DeliveryPoolUID, Status, Message, SourceType) VALUES(@DeliveryPoolUID, 5301, 'SMS Message already expired before sync to kernel database','Batch')\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2860,"y":720,"wires":[["9b1e05f6.e124"]]},{"id":"b0a6fd01.3f9e4","type":"loop","z":"a0407e4f.065a3","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":2650,"y":720,"wires":[[],["94ac5f4b.419b98"]]},{"id":"9b1e05f6.e124","type":"function","z":"a0407e4f.065a3","name":"Check Result","func":"msg.have_error = 0\n\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success\"\n\n    msg.payload = {\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n\n    \n    \n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] SMS Information to Report DB Failure\"\n    msg.have_error = 1\n    \n    msg.payload = {\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3080,"y":720,"wires":[["acdb49bc.13e13","5f7d1cdb.558094","abd02f79.d41b28"]]},{"id":"68cf9841.138b38","type":"delay","z":"a0407e4f.065a3","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2900,"y":580,"wires":[["b0a6fd01.3f9e4"]]},{"id":"acdb49bc.13e13","type":"switch","z":"a0407e4f.065a3","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3270,"y":660,"wires":[["68cf9841.138b38"],[]]},{"id":"249ca1a0.86aee6","type":"nats-streaming-acknowledge","z":"a0407e4f.065a3","name":"SMS ACK","x":2280,"y":480,"wires":[]},{"id":"50e6f4a9.522fac","type":"function","z":"a0407e4f.065a3","name":"Log Expired Information","func":"msg.result = \"[GRAVITY][ATOMIC] SMS already Expired, will not be written into kernel db\"\nmsg.payload = {\n    \"level\": \"ERROR\",\n    \"code\": 5304,\n    \"message\": msg.result,\n    \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n    \"level\": \"ERROR\",\n    \"time\": (new Date()).toJSON(),\n    \"payload\": {\n        \"DeliveryPoolUID\": msg.deliveryUID,\n    }\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":720,"wires":[["3b21cb1e.92db04","b0a6fd01.3f9e4","249ca1a0.86aee6","9b7fb18a.f4d95","da8186fc.51ab28"]]},{"id":"3b21cb1e.92db04","type":"debug","z":"a0407e4f.065a3","name":"Display Expired Information","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2350,"y":560,"wires":[]},{"id":"3fe5ba6f.583d8e","type":"function","z":"a0407e4f.065a3","name":"Get DB Status","func":"\nif ( (typeof msg.error == 'undefined') || (typeof msg.error != 'object') || (msg.error == null) )  {\n\n    msg.have_error = 0\n    \n    msg.deliverySendUID = msg.payload[0].UID || null\n\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Success\"\n\n    msg.payload = {\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\nelse {\n    msg.result = \"[GRAVITY][ATOMIC] Update Batch Delivery to kernel db Failure\"\n    msg.have_error = 1\n\n    msg.payload = {\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n            \"error\": msg.error\n        }\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":1000,"wires":[["94b6939d.9dc3a8","d8daa9d5.d667e","6cbbebb9.0bc3dc"]]},{"id":"94b6939d.9dc3a8","type":"debug","z":"a0407e4f.065a3","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2920,"y":820,"wires":[]},{"id":"6cbbebb9.0bc3dc","type":"switch","z":"a0407e4f.065a3","name":"Check Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2850,"y":980,"wires":[[],["291d9113.57cc6e","8d013395.18168","f09df6a1.b2922"]]},{"id":"291d9113.57cc6e","type":"nats-streaming-acknowledge","z":"a0407e4f.065a3","name":"Gravity ACK","x":3130,"y":920,"wires":[]},{"id":"8d013395.18168","type":"loop","z":"a0407e4f.065a3","name":"","kind":"fcnt","count":"3","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"20000","loopPayload":"loop-orig","finalPayload":"final-last","x":3150,"y":1000,"wires":[[],["9bd4d9a6.1118e"]]},{"id":"e7b2a566.69e2e","type":"function","z":"a0407e4f.065a3","name":"Check Result","func":"\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Success\"\n\n    msg.payload = {\n        \"level\": \"INFO\",\n        \"code\": 0,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n\n    \n    \n} else {\n    msg.result = \"[GRAVITY][ATOMIC] SMS Information to Report DB Failure\"\n    msg.have_error = 1\n    \n    msg.payload = {\n        \"code\": 5304,\n        \"message\": msg.result,\n        \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n        \"level\": \"ERROR\",\n        \"time\": (new Date()).toJSON(),\n        \"payload\": {\n            \"DeliveryPoolUID\": msg.deliveryUID,\n            \"SendUID\": msg.deliverySendUID,\n            \"SendRecordUID\": msg.deliverySendRecordUID,\n        }\n    }\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3640,"y":980,"wires":[["84f8a29f.ec26e8","bb236d82.cda","f0162e8c.c86c6"]]},{"id":"97ae029d.d3e11","type":"delay","z":"a0407e4f.065a3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3360,"y":1160,"wires":[["8d013395.18168"]]},{"id":"84f8a29f.ec26e8","type":"switch","z":"a0407e4f.065a3","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3870,"y":980,"wires":[["97ae029d.d3e11"],[]]},{"id":"64f56f13.ca1b88","type":"debug","z":"a0407e4f.065a3","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":840,"wires":[]},{"id":"7033fbb3.80f0fc","type":"nats-streaming-acknowledge","z":"a0407e4f.065a3","name":"ACK","x":390,"y":1160,"wires":[]},{"id":"9b7fb18a.f4d95","type":"redis-out","z":"a0407e4f.065a3","d":true,"server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2340,"y":400,"wires":[]},{"id":"cc85ff4b.2ba45","type":"redis-in","z":"a0407e4f.065a3","server":"9610aff8.a70458","command":"subscribe","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"timeout":"3","x":280,"y":1840,"wires":[["85616933.f3e45"]]},{"id":"85616933.f3e45","type":"debug","z":"a0407e4f.065a3","name":"Debug Redis","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1840,"wires":[]},{"id":"5f7d1cdb.558094","type":"redis-out","z":"a0407e4f.065a3","d":true,"server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":3360,"y":720,"wires":[]},{"id":"bb236d82.cda","type":"redis-out","z":"a0407e4f.065a3","d":true,"server":"9610aff8.a70458","command":"publish","name":"","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":3940,"y":900,"wires":[]},{"id":"d8daa9d5.d667e","type":"redis-out","z":"a0407e4f.065a3","d":true,"server":"9610aff8.a70458","command":"publish","name":"GRAVITY_SMS_KERNEL_DB","topic":"GRAVITY_SMS_KERNEL_DB","obj":true,"x":2660,"y":1080,"wires":[]},{"id":"707ff75d.02c08","type":"function","z":"a0407e4f.065a3","name":"Random DB Channel ID","func":"\nif (global.get('current_channel_db_id') == 0) {\n  global.set(\"current_channel_db_id\", 1);\n  global.set(\"current_channel_db_name\", \"channel_1\");\n\n}\n\nelse {\n  global.set(\"current_channel_db_id\", 0);\n  global.set(\"current_channel_db_name\", \"channel_0\");\n\n}\n\nmsg.current_channel_db_name = global.get(\"current_channel_db_name\")\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\nglobal.set(\"current_channel_db_id\", 0);\nglobal.set(\"current_channel_db_name\", \"channel_0\");","finalize":"","libs":[],"x":1870,"y":1040,"wires":[["49386b49.686064"]]},{"id":"abd02f79.d41b28","type":"debug","z":"a0407e4f.065a3","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3320,"y":760,"wires":[]},{"id":"f0162e8c.c86c6","type":"debug","z":"a0407e4f.065a3","name":"Display Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3920,"y":820,"wires":[]},{"id":"5e56a1c3.e01fb","type":"debug","z":"a0407e4f.065a3","name":"Display Result","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2320,"y":900,"wires":[]},{"id":"7cfa555d.33220c","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"198fa1d7.e38746","name":"Source1","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE FROM [dbo].[DeliveryPool] WHERE UID=@DeliveryPoolUID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3020,"y":1220,"wires":[[]]},{"id":"8bc90127.022cd8","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"8e5f5d80.1a222","name":"Source2","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE FROM [dbo].[DeliveryPool] WHERE UID=@DeliveryPoolUID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3020,"y":1280,"wires":[[]]},{"id":"f09df6a1.b2922","type":"link out","z":"a0407e4f.065a3","name":"Delete Source DB Link","links":["58fb72da.dfa85c"],"x":3045,"y":1120,"wires":[]},{"id":"58fb72da.dfa85c","type":"link in","z":"a0407e4f.065a3","name":"Delete Source Input","links":["f09df6a1.b2922","da8186fc.51ab28"],"x":2275,"y":1240,"wires":[["7cfa555d.33220c","8bc90127.022cd8"]]},{"id":"da8186fc.51ab28","type":"link out","z":"a0407e4f.065a3","name":"Delete Source DB Link","links":["58fb72da.dfa85c"],"x":2295,"y":680,"wires":[]},{"id":"14014cad.9edd3b","type":"nats-streaming-subscribe","z":"a0407e4f.065a3","name":"Source DB NATS2","server":"cc192ea2.4308e8","channel":"rowData.source.DeliveryPoolHeader","clientID":"source2-atomic-03","start":"all","start_option":"","durable":true,"durable_name":"source2-atomic-03","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"10","rate_limit":true,"max_in_flight":"1","x":250,"y":1660,"wires":[["b4d1907d.1902a8","9c929188.06ee3"]]},{"id":"b4d1907d.1902a8","type":"debug","z":"a0407e4f.065a3","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":1620,"wires":[]},{"id":"f57876ee.af13b","type":"function","z":"a0407e4f.065a3","name":"Create Payload","func":"\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\n\nmsg.payload = msg.payload.payload\nExpireTimeSec = 86400\nBookingTime = new Date(msg.payload.SendDate)\nNewExpireTime = new Date(BookingTime.getTime() + ExpireTimeSec * 1000)\ncurrent_time = new Date(new Date().getTime())\n\n\nif (current_time >= NewExpireTime) {\n    msg.data_is_expired=1} \nelse \n{\n    msg.data_is_expired=0\n}\n\nNewExpireTime = convert_datetime(NewExpireTime)\nNewSendTime = convert_datetime(BookingTime)\n\nsend_table_uuid = convert_uuid(msg.payload.UID)\ncreate_time = convert_datetime(msg.payload.CreateTime)\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.Priority || 0,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.PGCode || \"\",\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\",\n    \"memo\": msg.payload.PGDesc || \"\",\n    \"req_batch_id\": msg.payload.BatchID || \"\",\n    \"req_req_department\": msg.payload.DepID || \"\"\n    \n}\n\nmsg.payload2 = {}\nmsg.payload2.send_table_payload = send_table_payload\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1700,"wires":[["3ca71cc7.a83c64"]]},{"id":"ecad4854.e75b88","type":"switch","z":"a0407e4f.065a3","name":"Check Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"DeliveryPoolHeaderCreate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1720,"wires":[["4f9f4813.cc56c"],["70d6fd02.d395f4"]]},{"id":"70d6fd02.d395f4","type":"nats-streaming-acknowledge","z":"a0407e4f.065a3","name":"ACK","x":770,"y":1780,"wires":[]},{"id":"3ca71cc7.a83c64","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"IF NOT EXISTS \n    (   SELECT  1\n        FROM    [dbo].[send] \n        WHERE   req_channel = @req_channel \n        AND     req_batch_id = @req_batch_id\n    )\nBEGIN\n\nINSERT INTO [dbo].[send] \n            (send_mode, \n             way_name, \n             uid, \n             send_from, \n             status, \n             send_time, \n             priority, \n             expire_time, \n             msg_type, \n             req_department, \n             req_bu, \n             req_company, \n             req_channel, \n             req_object_id, \n             memo, \n             req_batch_id, \n             create_time) \nVALUES     ('S', \n            'SMS', \n            @send_uid, \n            @send_from, \n            @send_status, \n            @send_time, \n            @priority, \n            @expire_time, \n            @msg_type, \n            @req_department, \n            @req_bu, \n            @req_company, \n            @req_channel, \n            @req_object_id, \n            @memo, \n            @req_batch_id, \n            Sysdatetime()); \n\nEND;\n\nSELECT TOP 1 uid, req_batch_id, req_channel FROM [dbo].[send] \n    WHERE   req_channel = @req_channel \n    AND     req_batch_id = @req_batch_id\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload2.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload2.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload2.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload2.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload2.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload2.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload2.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload2.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1220,"y":1800,"wires":[["55461987.cd397","ccb07dc4.b8efa","51484712.66fc78"]]},{"id":"55461987.cd397","type":"nats-streaming-acknowledge","z":"a0407e4f.065a3","name":"ACK","x":1470,"y":1680,"wires":[]},{"id":"ccb07dc4.b8efa","type":"debug","z":"a0407e4f.065a3","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":1860,"wires":[]},{"id":"9c929188.06ee3","type":"json","z":"a0407e4f.065a3","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1720,"wires":[["ecad4854.e75b88"]]},{"id":"4f9f4813.cc56c","type":"uuid","z":"a0407e4f.065a3","uuidVersion":"v1","namespaceType":"","namespace":"","namespaceCustom":"","name":"UUID1","field":"generated_uuid","fieldType":"msg","x":790,"y":1700,"wires":[["f57876ee.af13b"]]},{"id":"51484712.66fc78","type":"function","z":"a0407e4f.065a3","name":"","func":"\nsend_table_uid = msg.payload[0].uid || null\nsend_table_batchid = msg.payload[0].req_batch_id || null\nsend_table_channel = msg.payload[0].req_channel || null\n\n\nglobal.set(\"current_send_table_uid\", send_table_uid);\nglobal.set(\"current_send_table_batchid\", send_table_batchid);\nglobal.set(\"current_send_table_channel\", send_table_channel);\n\nmsg.status = {\n    \"current_send_table_uid\": send_table_uid,\n    \"current_send_table_batchid\": send_table_batchid,\n    \"current_send_table_channel\": send_table_channel\n\n    \n}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\nglobal.set(\"current_send_table_uid\", \"\");\nglobal.set(\"current_send_table_batch_id\", \"\");\nglobal.set(\"current_send_table_channel\", \"\");\n","finalize":"","libs":[],"x":1450,"y":1780,"wires":[["ddedf5cb.8ddbb8"]]},{"id":"ddedf5cb.8ddbb8","type":"debug","z":"a0407e4f.065a3","name":"Debug Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"status","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":1800,"wires":[]},{"id":"9bd4d9a6.1118e","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"35b0806c.4ac0e8","name":"MSSQL Report","outField":"payload","returnType":0,"throwErrors":"0","query":"BEGIN\n\nBEGIN TRANSACTION;\n\nINSERT INTO [dbo].[DeliveryResultLog]\n            (DeliveryPoolUID,\n             SendRecordUID,\n             SendUID,\n             SourceType,\n             Status)\nVALUES     (@DeliveryPoolUID,\n            @DeliverySendRecordUID,\n            @DeliverySendUID,\n            'Batch',\n            0)\n\nINSERT INTO [dbo].[DeliveryPoolBatch]\n            (UID,\n             SerialNum,\n             MPhoneNum,\n             MsgData,\n             Priority,\n             BookingTime,\n             ExpireTime,\n             DepID,\n             MsgType,\n             Memo,\n             SenderID,\n             Bu,\n             Company,\n             Channel,\n             Reference,\n             RequestUID,\n             ObjectID,\n             BatchID)\nVALUES      ( @DeliverySendRecordUID,\n              @DeliveryPoolSerialNum,\n              @DeliveryPoolMPhoneNum,\n              @DeliveryPoolMsgData,\n              @DeliveryPoolPriority,\n              @DeliveryPoolBookingTime,\n              @DeliveryPoolExpireTime,\n              @DeliveryPoolDepID,\n              @DeliveryPoolMsgType,\n              @DeliveryPoolMemo,\n              @DeliveryPoolSenderID,\n              @DeliveryPoolBu,\n              @DeliveryPoolCompany,\n              @DeliveryPoolChannel,\n              @DeliveryPoolReference,\n              @DeliveryPoolRequestUID,\n              @DeliveryPoolObjectID,\n              @DeliveryPoolBatchID)\n\nCOMMIT;\n\nEND","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"DeliveryPoolUID","type":"UniqueIdentifier","valueType":"msg","value":"deliveryUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliverySendRecordUID","type":"UniqueIdentifier","valueType":"msg","value":"deliverySendRecordUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolSerialNum","type":"int","valueType":"msg","value":"delivery_pool_payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMPhoneNum","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMsgData","type":"NVarChar(?)","valueType":"msg","value":"delivery_pool_payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolPriority","type":"int","valueType":"msg","value":"delivery_pool_payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBookingTime","type":"DateTime","valueType":"msg","value":"delivery_pool_payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolExpireTime","type":"int","valueType":"msg","value":"delivery_pool_payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolDepID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMsgType","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolMemo","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolSenderID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBu","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolCompany","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolChannel","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolReference","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolRequestUID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.RequestUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolObjectID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DeliveryPoolBatchID","type":"VarChar(?)","valueType":"msg","value":"delivery_pool_payload.BatchID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":3380,"y":1000,"wires":[["e7b2a566.69e2e"]]},{"id":"49386b49.686064","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":0,"throwErrors":"0","query":"IF @req_batch_id is null or @req_batch_id = ''\n    BEGIN\n      BEGIN TRANSACTION;\n      INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_date, priority, msg_type, req_channel, memo,req_batch_id,create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type,  @req_channel, @memo, @req_batch_id, SYSDATETIME());\n      INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,req_department, req_bu, req_company, req_object_id, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, @req_department, @req_bu, @req_company, @req_object_id, SYSDATETIME());\n      INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n      COMMIT;\n      SELECT TOP 1 @send_uid\n    END\nELSE\n    BEGIN\n        BEGIN TRANSACTION;\n        INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, req_department, req_bu, req_company, req_object_id, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @new_send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, @req_department, @req_bu, @req_company, @req_object_id, SYSDATETIME());\n        INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @new_send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n        COMMIT;\n        SELECT new_send_uid\n    END\n\n\n\n-- IF @req_batch_id is null or @req_batch_id = ''\n--     BEGIN\n--       BEGIN TRANSACTION;\n--       INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_date, priority, msg_type, req_channel, memo,req_batch_id ,create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id, SYSDATETIME());\n--       INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,req_department, req_bu, req_company, req_object_id, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--       INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department,create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n--       COMMIT;\n--       SELECT TOP 1 uid FROM [dbo].[send] WHERE uid=@send_uid\n--     END\n-- ELSE\n--     BEGIN\n\n--     DECLARE @new_send_uid VARCHAR(36)\n--     SELECT TOP 1 @new_send_uid=uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n    \n--     IF @new_send_uid is null or @new_send_uid = ''\n--         BEGIN\n--             BEGIN TRANSACTION;\n--             INSERT INTO [dbo].[send](send_mode, way_name, uid, send_from, status, send_time, priority, expire_time, msg_type, req_department, req_bu, req_company, req_channel, req_object_id, memo,req_batch_id, create_time) VALUES('S','SMS', @send_uid, @send_from, @send_status, cast(@send_time as date), @priority, @msg_type, @req_department, @req_bu, @req_company, @req_channel, @req_object_id, @memo, @req_batch_id,SYSDATETIME());    \n--             INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid,create_time ) VALUES('SMS', @send_record_status, @send_record_uid, @send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--             INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department,SYSDATETIME());\n--             COMMIT;\n--             SELECT TOP 1 uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n--         END\n--     ELSE\n--         BEGIN\n--             BEGIN TRANSACTION;\n--             INSERT INTO [dbo].[send_record](way_name, status, uid, send_uid, serial_number, customer_phone, content, send_time, expire_time, customer_id, customer_reference, req_uid, create_time) VALUES('SMS', @send_record_status, @send_record_uid, @new_send_uid, @serial_number, @customer_phone, @content, @send_time, @expire_time, @customer_id, @customer_reference, @req_uid, SYSDATETIME());\n--             INSERT INTO [dbo].{{{global.current_channel_db_name}}}(status, way_name, send_uid, send_record_uid, priority, phone, content, send_time, expire_time, msg_type, req_object_id, req_uid, req_channel, req_department, create_time) VALUES(0, 'SMS', @new_send_uid, @send_record_uid, @priority, @phone, @content, @send_time, @expire_time, @msg_type, @req_object_id, @req_uid, @req_channel, @req_department, SYSDATETIME());\n--             COMMIT;\n--             SELECT TOP 1 uid FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n--         END\n--     END\n\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"send_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.send_table_payload.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_status","type":"Int","valueType":"msg","value":"payload.send_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.send_table_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.send_table_payload.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.send_table_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_table_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_uid","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.req_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"calc_section","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.calc_section","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.send_record_table_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"serial_number","type":"Int","valueType":"msg","value":"payload.send_record_table_payload.serial_number","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_phone","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"content","type":"NVarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.content","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_id","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"customer_reference","type":"VarChar(?)","valueType":"msg","value":"payload.send_record_table_payload.customer_reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"phone","type":"VarChar(?)","valueType":"msg","value":"payload.channel_payload.phone","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_record_status","type":"int","valueType":"msg","value":"payload.send_record_table_payload.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"new_send_uid","type":"UniqueIdentifier","valueType":"msg","value":"send_table_header_uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2140,"y":1040,"wires":[["9229121b.c21a","5e56a1c3.e01fb","3fe5ba6f.583d8e"]]},{"id":"99c4c8ea.326798","type":"function","z":"a0407e4f.065a3","name":"Create Payload","func":"\nNumber.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n    if (value == null) { return null }\n    \n    t1 = value\n    year = t1.getFullYear().zeroPad(1000).toString()\n    month = (t1.getMonth() + 1).zeroPad(10).toString()\n    day = t1.getDate().zeroPad(10).toString()\n    hour = t1.getHours().zeroPad(10).toString()\n    minute = t1.getMinutes().zeroPad(10).toString()\n    second = t1.getSeconds().zeroPad(10).toString()\n    v = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n    return v\n\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction generate_uuid() {\n  var d = Date.now();\n  if (typeof performance !== 'undefined' && typeof performance.now === 'function'){\n    d += performance.now();\n  }\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n    var r = (d + Math.random() * 16) % 16 | 0;\n    d = Math.floor(d / 16);\n      return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\n\nmsg.payload = msg.payload.payload\n\nExpireTimeSec = msg.payload.ExpireTime \n\nif (ExpireTimeSec == null || ExpireTimeSec <= 0)  {\n    ExpireTimeSec = 86400\n}\n\nBookingTime = new Date(msg.payload.BookingTime)\n\nNewExpireTime = new Date(BookingTime.getTime() + ExpireTimeSec * 1000)\n\ncurrent_time = new Date(new Date().getTime())\n\n\nif (current_time >= NewExpireTime) {\n    msg.data_is_expired=1} \nelse {\n    msg.data_is_expired=0\n}\n\nNewExpireTime = convert_datetime(NewExpireTime)\nNewSendTime = convert_datetime(BookingTime)\n\n\nif (msg.payload.MsgData == \"\" || msg.payload.MsgData.length <= 70) {\n    calc_section = 1 } \nelse  {\n    calc_section = Math.floor(msg.payload.MsgData.length/70+1)\n}\n\n\nsend_record_table_uuid = convert_uuid(msg.payload.UID)\nsend_record_table_request_uid = convert_uuid(msg.payload.RequestUID)\n\nsend_table_uuid = msg.generated_uuid\n\nsend_table_payload = {\n    \"uid\": send_table_uuid,\n    \"send_from\": 2,\n    \"status\": 4,\n    \"send_time\": NewSendTime,\n    \"priority\": msg.payload.Priority,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_batch_id\": msg.payload.BatchID || \"\",\n    \"memo\": msg.payload.Memo || \"\"\n}\n\nsend_record_table_payload = {\n    \"uid\": send_record_table_uuid,\n    \"status\": 0,\n    \"send_uid\": send_table_uuid,\n    \"serial_number\": msg.payload.SerialNum || 0,\n    \"customer_phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"customer_id\": msg.payload.SenderID ,\n    \"customer_reference\": msg.payload.Reference || \"\",\n    \"calc_section\": calc_section,\n    \"req_uid\": send_record_table_request_uid,\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_bu\": msg.payload.Bu || \"\",\n    \"req_company\": msg.payload.Company || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\"\n}\n\n\nchannel_payload = {\n    \"send_record_uid\": send_record_table_uuid,\n    \"send_uid\": send_table_uuid,\n    \"priority\": msg.payload.Priority,\n    \"phone\": msg.payload.MPhoneNum,\n    \"content\": msg.payload.MsgData || \"\",\n    \"send_time\": NewSendTime,\n    \"expire_time\": NewExpireTime,\n    \"msg_type\": msg.payload.MsgType || \"\",\n    \"req_uid\": send_record_table_request_uid || \"\",\n    \"req_department\": msg.payload.DepID || \"\",\n    \"req_channel\": msg.payload.Channel || \"\",\n    \"req_object_id\": msg.payload.ObjectID || \"\"\n}\n\nmsg.payload.send_table_payload = send_table_payload\nmsg.payload.send_record_table_payload = send_record_table_payload\nmsg.payload.channel_payload = channel_payload\n\nmsg.deliveryUID = convert_uuid(msg.payload.UID)\nmsg.deliverySendUID = send_table_uuid\nmsg.deliverySendRecordUID = send_record_table_uuid\n\ndelivery_pool_payload = {\n    \"UID\": send_record_table_uuid,\n    \"SerialNum\": msg.payload.SerialNum || 0,\n    \"MPhoneNum\": msg.payload.MPhoneNum,\n    \"MsgData\": msg.payload.MsgData ,\n    \"Priority\": msg.payload.Priority,\n    \"BookingTime\": msg.payload.BookingTime,\n    \"ExpireTime\": msg.payload.ExpireTime ,\n    \"DepID\": msg.payload.DepID,\n    \"MsgType\":  msg.payload.MsgType,\n    \"Memo\": msg.payload.Memo ,\n    \"SenderID\": msg.payload.SenderID,\n    \"Bu\": msg.payload.Bu,\n    \"Company\": msg.payload.Company ,\n    \"Channel\": msg.payload.Channel,\n    \"Reference\": msg.payload.Reference,\n    \"RequestUID\": send_record_table_request_uid,\n    \"ObjectID\": msg.payload.ObjectID ,\n    \"BatchID\": msg.payload.BatchID\n}\n\nmsg.delivery_pool_payload = delivery_pool_payload\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1020,"wires":[["7ba7098b.55f9e8"]]},{"id":"b101386e.f451c8","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"198fa1d7.e38746","name":"Source1","outField":"delivery_header_payload","returnType":0,"throwErrors":"0","query":"SELECT TOP 1 \n        UID as uid, \n        BatchID as req_batch_id, \n        CONVERT(date, SendDate, 105) AS send_date,\n        PGCode as msg_type,\n        Channel as req_channel,\n        Priority as priority,\n        PGDesc as memo \nFROM [dbo].[DeliveryPool_Header] \nWHERE BatchID=@BatchID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"BatchID","type":"VarChar(?)","valueType":"msg","value":"batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":560,"y":620,"wires":[["465247c1.ce82e8","d54acc65.a1931"]]},{"id":"465247c1.ce82e8","type":"function","z":"a0407e4f.065a3","name":"Check Result","func":"if ( (typeof msg.error == undefined) || (msg.error == null) )  {\n    msg.have_error = 0\n    msg.send_table_header_batch_id = msg.delivery_header_payload[0].req_batch_id || null\n    msg.send_table_header_uid = msg.delivery_header_payload[0].uid || null\n\n    if (msg.send_table_header_batch_id != '' && msg.send_table_header_batch_id != null ) {\n        msg.have_batch_id = 1\n    } else {\n        msg.have_batch_id = 0\n    }\n}\n\nelse {\n    msg.have_error = 1\n}\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":480,"wires":[["b0052a39.0c64c8"]]},{"id":"2867b541.3947f2","type":"function","z":"a0407e4f.065a3","name":"Query BatchID","func":"\n// backup\nmsg.gravity_payload = msg.payload.payload\n\nmsg.send_table_header_batch_id = msg.payload.payload.BatchID || null\n\nif (msg.send_table_header_batch_id == null || msg.send_table_header_batch_id == '' || msg.send_table_header_batch_id == undefined ) {\n    msg.have_batch_id = 0\n} else {\n    msg.have_batch_id = 1\n}\n\nreturn msg\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1020,"wires":[["bb783af5.ea91c8","4225e7a7.8ab4b8"]]},{"id":"bb783af5.ea91c8","type":"switch","z":"a0407e4f.065a3","name":"Batch?","property":"have_batch_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1020,"wires":[["3eb2230.ebcb8de"],["99c4c8ea.326798"]]},{"id":"b0052a39.0c64c8","type":"switch","z":"a0407e4f.065a3","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":400,"wires":[["7cdb7e30.67dfc8"],["dca711dc.39a158"]]},{"id":"7fc63f5d.cf8a2","type":"debug","z":"8fc62d18.276d3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1690,"y":180,"wires":[]},{"id":"369651c9.6e93be","type":"function","z":"8fc62d18.276d3","name":"Check Result","func":"msg.batchid = 'TEST1'\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[["591097b4.109978"]]},{"id":"36dd83a1.d59ccc","type":"switch","z":"8fc62d18.276d3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["369651c9.6e93be"],["dbe4d2b.ae0e9b"]]},{"id":"dbe4d2b.ae0e9b","type":"debug","z":"8fc62d18.276d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"fdf66618.370aa8","type":"Cache in","z":"8fc62d18.276d3","name":"","cache":"546599e3.0c5ba","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","useString":true,"outputs":1,"x":470,"y":300,"wires":[["36dd83a1.d59ccc"]]},{"id":"e710fdb9.a932c","type":"function","z":"8fc62d18.276d3","name":"","func":"msg.topic = \"TEST1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["fdf66618.370aa8"]]},{"id":"a8cf07bc.dc34f","type":"debug","z":"8fc62d18.276d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":340,"wires":[]},{"id":"98b36b21.777f3","type":"inject","z":"a0407e4f.065a3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":240,"wires":[["4e3da6cc.2b27c8"]]},{"id":"a1eb46c9.4c09c","type":"function","z":"a0407e4f.065a3","name":"","func":"msg.topic = msg.current_batch.req_batch_id\nmsg.payload = msg.current_batch.uid\nmsg.ttl = 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":200,"wires":[["3eb3dfa5.ee3ab8","e21dd698.f9ed38"]]},{"id":"3eb3dfa5.ee3ab8","type":"Cache out","z":"a0407e4f.065a3","name":"","cache":"546599e3.0c5ba","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","ttlType":"msg","ttlProperty":"ttl","useString":false,"x":2250,"y":200,"wires":[]},{"id":"7fcbbe10.06175","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"198fa1d7.e38746","name":"Source1","outField":"payload","returnType":0,"throwErrors":"0","query":"SELECT TOP 1 UID as uid, BatchID as req_batch_id, CONVERT(date, SendDate, 105) AS send_date , PGCode as msg_type, Channel as req_channel, Priority as priority, PGDesc as memo FROM [dbo].[DeliveryPool_Header] WHERE BatchID=@batchid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"batchid","type":"VarChar(?)","valueType":"msg","value":"batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1480,"y":200,"wires":[["d1d7eaee.508798"]]},{"id":"67c9ae09.d2af58","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"payload","returnType":"0","throwErrors":"0","query":"\nDECLARE @MYBATCHID VARCHAR(64)\n\nSELECT @MYBATCHID=req_channel FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n\nIF @MYBATCHID IS NULL\n\nBEGIN\n\nINSERT INTO [dbo].[send] \n            (uid,\n             send_date,\n             send_mode,\n             send_from, \n             way_name, \n             status, \n             priority, \n             msg_type, \n             req_channel, \n             memo, \n             req_batch_id, \n             create_time) \nVALUES     (@uid,\n            @send_date,\n            'S', \n            2, \n            'SMS', \n            4, \n            @priority, \n            @msg_type, \n            @req_channel, \n            @memo, \n            @req_batch_id, \n            Sysdatetime())\nEND\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_date","type":"Date","valueType":"msg","value":"payload.send_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1880,"y":200,"wires":[["a1eb46c9.4c09c","3bf9306c.cdafc8"]]},{"id":"d1d7eaee.508798","type":"function","z":"a0407e4f.065a3","name":"Check Result","func":"if ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.have_error = 0\n    msg.payload = msg.payload[0] || null\n    msg.current_batch = msg.payload\n}\n\nelse {\n    msg.have_error = 1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":200,"wires":[["87692d0f.acbdc","67c9ae09.d2af58"]]},{"id":"87692d0f.acbdc","type":"debug","z":"a0407e4f.065a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":140,"wires":[]},{"id":"3bf9306c.cdafc8","type":"debug","z":"a0407e4f.065a3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2110,"y":120,"wires":[]},{"id":"3fb00c2b.38a244","type":"function","z":"a0407e4f.065a3","name":"Check Result","func":"msg.batchid = 'TEST1'\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":200,"wires":[["7fcbbe10.06175"]]},{"id":"4ef3e397.3d2ab4","type":"switch","z":"a0407e4f.065a3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":200,"wires":[["3fb00c2b.38a244"],["a2086789.a8cd8"]]},{"id":"a2086789.a8cd8","type":"debug","z":"a0407e4f.065a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":280,"wires":[]},{"id":"601435d6.e87084","type":"Cache in","z":"a0407e4f.065a3","name":"","cache":"546599e3.0c5ba","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","useString":true,"outputs":1,"x":890,"y":240,"wires":[["4ef3e397.3d2ab4"]]},{"id":"4e3da6cc.2b27c8","type":"function","z":"a0407e4f.065a3","name":"","func":"msg.topic = \"TEST1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":240,"wires":[["601435d6.e87084"]]},{"id":"e21dd698.f9ed38","type":"debug","z":"a0407e4f.065a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2270,"y":280,"wires":[]},{"id":"7cdb7e30.67dfc8","type":"switch","z":"a0407e4f.065a3","name":"Check Batch ID Exist","property":"have_batch_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":400,"wires":[["250e3f6.a9cdac"],[]]},{"id":"8810e9ca.6c30b8","type":"function","z":"a0407e4f.065a3","name":"","func":"msg.topic = msg.send_table_header_batch_id\nmsg.payload = msg.send_table_header_uid\nmsg.ttl = 5 * 60\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":400,"wires":[["dec550c9.fb8f98","99c4c8ea.326798"]]},{"id":"dec550c9.fb8f98","type":"Cache out","z":"a0407e4f.065a3","name":"","cache":"546599e3.0c5ba","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","ttlType":"msg","ttlProperty":"ttl","useString":false,"x":1890,"y":360,"wires":[]},{"id":"250e3f6.a9cdac","type":"MSSQL","z":"a0407e4f.065a3","mssqlCN":"79cd02d9.42f16c","name":"MSSQL Kernel","outField":"kernel_payload","returnType":"0","throwErrors":"0","query":"\nDECLARE @MYBATCHID VARCHAR(64)\n\nSELECT @MYBATCHID=req_channel FROM [dbo].[send] WHERE req_batch_id=@req_batch_id\n\nIF @MYBATCHID IS NULL\n\nBEGIN\n\nINSERT INTO [dbo].[send] \n            (uid,\n             send_date,\n             send_mode,\n             send_from, \n             way_name, \n             status, \n             priority, \n             msg_type, \n             req_channel, \n             memo, \n             req_batch_id, \n             create_time) \nVALUES     (@uid,\n            @send_date,\n            'S', \n            2, \n            'SMS', \n            4, \n            @priority, \n            @msg_type, \n            @req_channel, \n            @memo, \n            @req_batch_id, \n            Sysdatetime())\nEND\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"delivery_header_payload.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_date","type":"Date","valueType":"msg","value":"delivery_header_payload.send_date","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"delivery_header_payload.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"delivery_header_payload.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"delivery_header_payload.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"delivery_header_payload.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"delivery_header_payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1480,"y":400,"wires":[["8810e9ca.6c30b8"]]},{"id":"cbfb0229.7e89f","type":"switch","z":"a0407e4f.065a3","name":"","property":"msg.send_table_header_uid","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":820,"wires":[["b101386e.f451c8"],["99c4c8ea.326798"]]},{"id":"3eb2230.ebcb8de","type":"Cache in","z":"a0407e4f.065a3","name":"","cache":"546599e3.0c5ba","keyType":"msg","keyProperty":"send_table_header_batch_id","valueType":"msg","valueProperty":"send_table_header_uid","useString":true,"outputs":1,"x":670,"y":820,"wires":[["cbfb0229.7e89f"]]},{"id":"4225e7a7.8ab4b8","type":"debug","z":"a0407e4f.065a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"have_batch_id","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1160,"wires":[]},{"id":"dca711dc.39a158","type":"function","z":"a0407e4f.065a3","name":"Log Batch ID Not Found","func":"msg.result = \"[GRAVITY][ATOMIC] SMS already Expired, will not be written into kernel db\"\nmsg.payload = {\n    \"level\": \"ERROR\",\n    \"code\": 5304,\n    \"message\": msg.result,\n    \"channel\": \"GRAVITY_SMS_KERNEL_DB\",\n    \"level\": \"ERROR\",\n    \"time\": (new Date()).toJSON(),\n    \"payload\": {\n        \"DeliveryPoolUID\": msg.deliveryUID,\n    }\n}\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":540,"wires":[["6a74a7dd.c6036"]]},{"id":"6a74a7dd.c6036","type":"debug","z":"a0407e4f.065a3","name":"Display BatchID Not FOUND","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":540,"wires":[]},{"id":"d54acc65.a1931","type":"debug","z":"a0407e4f.065a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"delivery_header_payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":640,"wires":[]}]